<div *ngIf="userDatasService.showUserInfoCard" class="grey-screen">
    <app-user-info-card></app-user-info-card>
</div>
<header>
    <div (click)="showMemberInfo()">
        <img src="{{ chatComponent.privateChatOtherUserData?.avatar }}">
        <span>{{ chatComponent.currentChannelName }}</span>
    </div>
</header>
<div #chatContainer [class.end-of-chat]="showFirstMessage" class="all-chat-container">
    <div *ngIf="showFirstMessage" class="first-message-container">
        <div>
            <img src="{{ chatComponent.privateChatOtherUserData?.avatar }}">
            <span>{{ chatComponent.currentChannelName }}</span>
        </div>
        <span>Diese Unterhaltung findet nur zwischen <a (click)="showMemberInfo()">&#64;{{
                chatComponent.currentChannelName }}</a> und dir statt.</span>
    </div>
    <div *ngFor="let message of filteredMessages$ | async" class="chat-content" (mouseleave)="showPicker = false">
        <div class="chat-date" *ngIf="message.showDate">
            <div class="line"></div>
            <div class="chat-date_create">{{ message.formattedDate }}</div>
        </div>
        <div class="chat-content--{{ checkStyle(message.userId) }}" (mouseover)="hoveredMessageId = message.id"
            (mouseout)="hoveredMessageId = null">
            <div class="chat-content_reaction" *ngIf="hoveredMessageId === message.id">
                <button (click)="sendReaction('green_check', message.id)"><img src="assets/img/green_check.svg"
                        alt="check"></button>
                <button (click)="sendReaction('🙌', message.id)"><img src="assets/img/clap_hands.svg" alt="check"></button>
                <button (click)="showPicker = !showPicker"><img src="assets/img/add_reaction.svg" alt="check"></button>
                <app-emoji-picker *ngIf="showPicker" (mouseleave)="showPicker = false"
                    (click)="$event.preventDefault()" (emojiSelected)="sendReaction($event, message.id)"></app-emoji-picker>
                <button (click)="openThread(message.id)"><img src="assets/img/add_comment.svg" alt="check"></button>
                <button *ngIf="checkStyle(message.userId) === 'secondary'">
                    <img src="assets/img/menu_points.svg" alt="check">
                </button>
            </div>
            <div class="row-reverse">
                <img src="assets/img/avatar1.svg" alt="avatar" />
                <div class="chat-content_conversation">
                    <div class="chat-content_header">
                        <span>{{ message.sender }}</span>
                        <span>{{ formatTime(message.createdAt) }}</span>
                    </div>
                    <span class="chat-content_message--{{ checkStyle(message.userId) }}">
                        {{ message.content }}
                    </span>
                </div>
            </div>
            <app-dm-reactions class="message-reactions" [message]="message"
                [hoveredMessageId]="hoveredMessageId"></app-dm-reactions>
        </div>
    </div>
    <div class="new-message" *ngIf="newMessage">
        <button (click)="scrollToElement('smooth')">neue Nachricht ⬇️</button>
    </div>
</div>