<div *ngIf="memberInfoVisible" class="grey-screen">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="cursor-no-change">Profile</mat-card-title>
            <div (click)="showMemberInfo()" class="card-header-image">
                <img src="/img/general-view/workspace-menu/close.svg">
                <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg">
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="card-image-container">
                <img src="/img/general-view/create-avatar/avatar3.svg"><!--Placeholder Image-->
            </div>
            <div class="middle-container-upper">
                <span class="cursor-no-change">Username</span><!--Placeholder Name-->
                <div>
                    <div class="active-circle"></div><!--Placeholder Image-->
                    <span class="active-font cursor-no-change">Aktiv</span><!--Placeholder Status und Color-->
                </div>
            </div>
            <div class="middle-container-lower">
                <img src="/img/public/mail-black.svg">
                <div>
                    <span class="cursor-no-change">E-Mail-Adresse</span>
                    <a class="cursor-no-change">sofia.muel&#64;beispiel.com</a><!--Placeholder Mail-->
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button class="btn-primary--default" (click)="openMessageToUser()">
                <img src="/img/general-view/chat/message_user.svg">
                <span>Nachricht</span>
            </button>
        </mat-card-footer>
    </mat-card>
</div>
<header>
    <div (click)="showMemberInfo()">
        <img src="/img/general-view/create-avatar/avatar3.svg"><!--Placeholder Image-->
        <span>Sarah</span><!--Placeholder Name-->
    </div>
</header>
<div #chatContainer class="all-chat-container">
    <div *ngFor="let message of filteredMessages$ | async" class="chat-content" (mouseleave)="showPicker = false">
        <div class="chat-date" *ngIf="message.showDate">
            <div class="line"></div>
            <div class="chat-date_create">{{ message.formattedDate }}</div>
        </div>
        <div class="chat-content--{{ checkStyle(message.userId) }}" (mouseover)="hoveredMessageId = message.id"
            (mouseout)="hoveredMessageId = null">
            <div class="chat-content_reaction" *ngIf="hoveredMessageId === message.id">
                <button><img src="img/general-view/chat/green_check.svg" alt="check"></button>
                <button><img src="img/general-view/chat/clap_hands.svg" alt="check"></button>
                <button (click)="showPicker = !showPicker"><img src="img/general-view/chat/add_reaction.svg"
                        alt="check"></button>
                <app-emoji-picker *ngIf="showPicker" (mouseleave)="showPicker = false"
                    (click)="$event.preventDefault()"></app-emoji-picker>
                <button><img src="img/general-view/chat/add_comment.svg" alt="check"></button>
                <button *ngIf="checkStyle(message.userId) === 'secondary'">
                    <img src="img/general-view/chat/menu_points.svg" alt="check">
                </button>
            </div>
            <div class="row-reverse">
                <img src="img/general-view/create-avatar/avatar1.svg" alt="avatar" />
                <div class="chat-content_conversation">
                    <div class="chat-content_header">
                        <span>{{ message.sender }}</span>
                        <span>{{ formatTime(message.createdAt) }}</span>
                    </div>
                    <span class="chat-content_message--{{ checkStyle(message.userId) }}">
                        {{ message.content }}
                    </span>
                </div>
            </div>
            <div class="message-reactions">
                <div *ngFor="let reaction of  reactionEntries(message) let i=index">
                    <div (mouseover)="showPopoverReaction = i" (mouseout)="showPopoverReaction = null"
                        class="message-reactions_btn">
                        {{reaction.emoji}} {{reaction.count}}
                    </div>
                    <div class="message-reactions_popover" *ngIf="showPopoverReaction === i">
                        {{reaction.emoji}} <br>
                        <b>Alladin</b> und <b>Du</b> <br>
                        hat reagiert
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-message" *ngIf="newMessage">
        <button (click)="scrollToElement('smooth')">neue Nachricht ⬇️</button>
    </div>
</div>