<div *ngIf="userDatasService.showUserInfoCard" class="grey-screen">
    <app-user-info-card></app-user-info-card>
</div>
<header>
    <div (click)="showMemberInfo()">
        <img src="{{ chatComponent.privateChatOtherUserData?.avatar }}">
        <span>{{ chatComponent.currentChannelName }}</span>
    </div>
</header>
<div #chatContainer [class.end-of-chat]="showFirstMessage" class="all-chat-container">
    <div *ngIf="showFirstMessage" class="first-message-container">
        <div>
            <img src="{{ chatComponent.privateChatOtherUserData?.avatar }}">
            <span>{{ chatComponent.currentChannelName }}</span>
        </div>
        <span>Diese Unterhaltung findet nur zwischen <a (click)="showMemberInfo()">&#64;{{
                chatComponent.currentChannelName }}</a> und dir statt.</span>
    </div>
    <div *ngFor="let message of filteredMessages$ | async" class="chat-content" (mouseleave)="showPicker = false">
        <div class="chat-date" *ngIf="message.showDate">
            <div class="line"></div>
            <div class="chat-date_create">{{ message.formattedDate }}</div>
        </div>
        <div class="chat-content--{{ checkStyle(message.userId) }}" (mouseover)="hoveredMessageId = message.id"
            (mouseout)="hoveredMessageId = null">
            <div class="chat-content_reaction" *ngIf="hoveredMessageId === message.id && editMessageId !== message.id">
                <button (click)="sendReaction('green_check', message.id)"><img src="assets/img/green_check.svg"
                        alt="check"></button>
                <button><img src="assets/img/clap_hands.svg" alt="check"></button>
                <button (click)="showPicker = !showPicker"><img src="assets/img/add_reaction.svg" alt="check"></button>
                <app-emoji-picker *ngIf="showPicker" (mouseleave)="showPicker = false"
                    (click)="$event.preventDefault()"></app-emoji-picker>
                <button><img src="assets/img/add_comment.svg" alt="check"></button>
                <button *ngIf="checkStyle(message.userId) === 'secondary'">
                    <img src="assets/img/menu_points.svg" alt="check">
                    <span *ngIf="showEditMessage"
                        (click)="setEditId(message.id); initializeMessageValue(message.content)"
                        class="edit-message">Nachricht
                        bearbeiten</span>
                </button>
            </div>
            <div class="row-reverse" *ngIf="messageDetailsMap[message.uniqueId] as userData">
                <img class="avatar" src="{{ userData.avatar }}" alt="avatar" />
                <div *ngIf="message.id !== editMessageId"
                    class="chat-content_conversation--{{ checkStyle(message.userId) }}">
                    <div class="chat-content_header">
                        <span>{{ userData.username }}</span>
                        <span>{{ formatTime(message.createdAt) }}</span>
                    </div>
                    <span class="chat-content_message--{{ checkStyle(message.userId) }}">
                        {{ message.content }}
                    </span>
                </div>
            </div>
            <div class="thread-answers-count" (click)="openThread(message.id)" *ngIf="message.threadAnswers > 0 && editMessageId !== message.id">{{
                message.threadAnswers }} Antworten
            </div>
            <form *ngIf="message.id === editMessageId" class="edit-container"
                (ngSubmit)="updateChatMessage(message.id, message.uniqueId)">
                <textarea [(ngModel)]="messageValue" name="newMessageValue">{{ message.content }}</textarea>
                <div class="edit-btn-container">
                    <button *ngIf="!isMobile" class="btn-secondary--default"
                        (click)="editMessageId = null">Abbrechen</button>
                    <button *ngIf="!isMobile" class="btn-primary--default" type="submit">Speichern</button>
                    <button *ngIf="isMobile" (click)="editMessageId = null"
                        class="btn-secondary--default"><img src="assets/img/close.svg"></button>
                    <button *ngIf="isMobile" class="btn-primary--default" type="submit"><img
                            src="assets/img/mobile_save.svg"></button>
                </div>
            </form>
            <app-dm-reactions class="message-reactions" [message]="message"
                [hoveredMessageId]="hoveredMessageId" *ngIf="editMessageId !== message.id"></app-dm-reactions>
        </div>
    </div>
    <div class="new-message" *ngIf="newMessage">
        <button (click)="scrollToElement('smooth')">neue Nachricht ⬇️</button>
    </div>
</div>