<section>
    <div>
        <header>
            <div class="header-headline">
                <h3>#</h3>
                <h3>Entwicklerteam</h3>
            </div>
            <div class="img-container change-image-on-hover">
                <img src="/img/general-view/workspace-menu/close.svg">
                <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg">
            </div>
        </header>
        <form id="input-form" onsubmit="x(); return false;">
            <div class="form-input-container">
                <div class="">
                    <span class="fs18 bold">Channel-Name</span>
                    <span class="fs18 ">Bearbeiten</span>
                </div>
                <div class="">
                    <span class="">#</span>
                    <span class="">Entwicklerteam</span>
                </div>
                <!-- <input class="input-field" placeholder="Entwicklerteam"> -->
            </div>
            <div class="form-input-container">
                <span>Beschreibung <span class="optional">(optional)</span></span>
                <input class="input-field" placeholder="Dein Text hier">
            </div>
            
        </form>
        <div class="form-submit-button-container">
            <button class="btn-primary--default" type="submit">Erstellen</button>
        </div>
    </div>
</section>