<section>
    <div>
        <header>
            <div class="header-headline">
                <h3>#</h3>
                <h3>Entwicklerteam</h3>
            </div>
            <div class="img-container change-image-on-hover" (click)="closeChatDetails()">
                <img src="/img/general-view/workspace-menu/close.svg">
                <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg">
            </div>
        </header>
        <div id="input-form" class="d-flex column gap-20">
            <div class="channel-name-info-container" #channelNameEditContainer>
                <div class="channel-name-container">
                    <div>
                        <span class="fs18 bold">Channel-Name</span>
                        <span class="fs18 purple hover" (click)="openNewChannelInput()">Bearbeiten</span>
                    </div>
                    <div>
                        <span class="fs18 bold">#</span>
                        <span class="fs18">Entwicklerteam</span>
                    </div>
                </div>
            </div>
            <div class="new-channel-name-container d-none" #newChannelInputContainer>
                <div>
                    <span class="fs18 bold">Channel-Name</span>
                    <button class="fs18 purple hover" (click)="saveChanges()" type="submit">Speichern</button>
                </div>
                <form (ngSubmit)="submitNewName(form)" #form="ngForm">
                    <span class="fs18 bold z1 padding-left-20">#</span>
                    <input class="input-field margin-left-negative-50 padding-left-50" placeholder="Entwicklerteam" [(ngModel)]="newChannelNameInput">
                </form>
            </div>

            <div class="description-container" #descpritionContainer>
                <div class="d-flex gap-20 column">
                    <div class="d-flex justify-between">
                        <span class="fs18 bold">Beschreibung</span>
                        <span class="fs18 purple hover" (click)="openDesciptionEdit()">Bearbeiten</span>
                    </div>
                    <p class="fs18">Dieser Channel ist für alles rund um #asdas vorgesehen. Hier kannst du zusammen
                        mit deinem Team
                        Meetings abhalten, Dokumente teilen und Entscheidungen treffen.</p>
                </div>
                <span class="separator"></span>
                <div class="d-flex column gap-20">
                    <span class="fs18 bold">Erstellt von</span>
                    <span class="fs24 purple">Noah Braun</span>
                </div>
            </div>

            <div class="d-flex column gap-30 d-none" #editDescriptionContainer>
                <form (ngSubmit)="submitNewDescription(form)" #form="ngForm" class="d-flex column gap-20">
                    <div class="d-flex justify-between">
                        <span class="fs18">Beschreibung</span>
                        <span class="fs18 purple hover padding-right-20" (click)="saveDescChanges()">Speichern</span>
                    </div>
                    <input class="input-field" placeholder="Dein Text hier" [(ngModel)]="newDescriptionInput">
                </form>
                <span class="separator"></span>
                <div class="d-flex column gap-20">
                    <span class="fs18 bold">Erstellt von</span>
                    <span class="fs24 purple">Noah Braun</span>
                </div>
            </div>
        </div>
        <div class="leave-channel-button-container">
            <button class="btn-primary--default">Channel verlassen</button>
        </div>
    </div>
</section>