<app-alt-header-mobile></app-alt-header-mobile>
<mat-drawer-container [class.margin-right-20]="toggleMarginLeft">
    <mat-drawer #threadDrawer opened mode="side" position="end">
        <header>
            <div>
                <h3 class="cursor-no-change">
                    Thread
                </h3>
                <span class="header-headline-channel cursor-no-change">
                   # {{ chatService.currentChannelData?.channelName }}
                </span>
            </div>
            <div class="header-image-container hover change-image-on-hover"
                (click)="threadDrawer.toggle(); toggleMargin()">
                <img src="/img/general-view/workspace-menu/close.svg">
                <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg">
            </div>
        </header>
        <div class="chat-container">
            <app-thread-messages class="chat"></app-thread-messages>
            <div class="input-container">
                <textarea #emojiTarget [placeholder]="'Antworten...'"></textarea>
                <div class="textarea-icon-bar">
                    <div appClickOutside (appClickOutside)="hideEmojiPicker()">
                        <app-emoji-picker id="emojiThreads" (emojiSelected)="onEmojiReceived($event)"
                            class="d-none left-corner-0"></app-emoji-picker>
                        <div class="textarea-icon-bar-icons change-image-on-hover" (click)="toggleEmojiPicker()">
                            <img src="/img/general-view/workspace-menu/smiley.svg">
                            <img class="d-none" src="/img/general-view/workspace-menu/hover_smiley.svg">
                        </div>
                        <div class="textarea-icon-bar-icons change-image-on-hover">
                            <img src="/img/general-view/workspace-menu/aet.svg">
                            <img class="d-none" src="/img/general-view/workspace-menu/hover_aet.svg">
                        </div>
                    </div>
                    <div class="change-image-on-hover" (click)="sendMessage(emojiTarget.value)">
                        <img class="height-width-40" src="/img/general-view/workspace-menu/send.svg">
                        <img class="d-none height-width-40" src="/img/general-view/workspace-menu/hover_send.svg">
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer>
</mat-drawer-container>