<section>
    <header>
        <div>
            <h3>
                Thread
            </h3>
            <span class="purple-text size-14">
                # Entwicklerteam
            </span>
        </div>
        <div class="header-image-container">
            <img src="/img/general-view/workspace-menu/close.svg">
        </div>
    </header>
    <div class="chat-container">
        <div>
            Chat
        </div>
        <div class="input-container">
            <textarea [placeholder]="'Antworten...'">
            </textarea>
            <div class="textarea-icon-bar">
                <div>
                    <div class="height-width-40 d-flex center hover change-image-on-hover">
                        <img src="/img/general-view/workspace-menu/smiley.svg">
                        <img class="d-none" src="/img/general-view/workspace-menu/hover_smiley.svg">
                    </div>
                    <div class="height-width-40 d-flex center hover change-image-on-hover">
                        <img src="/img/general-view/workspace-menu/aet.svg">
                        <img class="d-none" src="/img/general-view/workspace-menu/hover_aet.svg">
                    </div>
                </div>
                <div class="change-image-on-hover">
                    <img class="height-width-40" src="/img/general-view/workspace-menu/send.svg">
                    <img class="d-none height-width-40" src="/img/general-view/workspace-menu/hover_send.svg">
                </div>
            </div>
        </div>
    </div>
</section>