@import './../../../../styles.scss';

section {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    height: 347px;
    width: 60px;
    display: flex;
    justify-content: center;

    >div {
        transform: rotate(-90deg);
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
            color: var(--color-purple-secondary-hover);
            cursor: pointer;
        }
    }
}

span {
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
}