@import './../forgot-password/forgot-password.component.scss';

.input-field{
    width: 100%;
    box-sizing: border-box;
    >input{
        width: 100%;
    }
}

.side-sheet{
    &--error{
        @extend .side-sheet;
        background-color: red !important;
    }
}