<div class="app-wrapper">
  <app-header-section></app-header-section>
  <mat-card>
    <div class="card-head">
      <a class="arrow-back" [routerLink]="['/']"
        ><img src="/img/public/arrow-back.svg" alt="back"
      /></a>
      <mat-card-header> <h2>Passwort zurücksetzen</h2></mat-card-header>
    </div>
    <mat-card-content>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="input-field">
          <input
            formControlName="newPassword"
            id="newPassword"
            type="password"
            placeholder="Neues Passwort"
          />
        </div>
        @if(passwordForm.get('newPassword')?.errors?.['required'] &&
        passwordForm.get('newPassword')?.touched){
        <label for="newPassword" class="required-text"
          >Bitte neues Passwort eingeben</label
        >
        } @else if(passwordForm.get('newPassword')?.errors?.['minlength'] &&
        passwordForm.get('newPassword')?.touched){
        <label for="newPassword" class="required-text"
          >minimale Länge 6 Zeichen</label
        >
        } @else {
        <label for="email" class="empty-field"></label>
        }
        <div class="input-field">
          <input
            formControlName="confirmedPassword"
            id="confirmedPassword"
            type="password"
            placeholder="Passwort bestätigen"
          />
        </div>
        @if(passwordForm.get('confirmedPassword')?.errors?.['required'] && passwordForm.get('confirmedPassword')?.touched)
        {
        <label for="confirmedPassword" class="required-text"
          >Bitte neues Passwort bestätigen</label
        >
        } @else if(passwordForm.get('confirmedPassword')?.errors?.['passwordMismatch'] && passwordForm.get('confirmedPassword')?.touched)
        {
        <label for="confirmedPassword" class="required-text"
          >Passwörter stimmen nicht überein</label
        >
        } @else {
        <label for="email" class="empty-field"></label>
        }

        <div class="btn-submit">
          <button
            type="submit"
            [disabled]="passwordForm.invalid"
            [ngClass]="{
              'btn-primary--disable': passwordForm.invalid,
              'btn-primary--default': passwordForm.valid
            }"
          >
            Passwort zurück setzen
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <app-footer></app-footer>
</div>

<div class="overlay-container" [ngClass]="{ 'd-flex': this.showMessage }">
  <div class="side-sheet" *ngIf="resetPassword">
    <span> Dein Passwort für {{ email }} wurde geändert </span>
  </div>
  <div class="side-sheet--error" *ngIf="errorPassword">
    <span> Link abgelaufen oder fehlerhaft, bitte neu anfordern </span>
  </div>
</div>
