<div class="app-wrapper">
  <app-header-section></app-header-section>
    <mat-card>
      <div class="card-head">
        <a class="arrow-back" [routerLink]="['/']"
          ><img  src="/img/public/arrow-back.svg" alt="back"
        /></a>
        <mat-card-header> <h2>Passwort zurücksetzen</h2></mat-card-header>
      </div>
      <mat-card-content>
         <form (ngSubmit)="onSubmit(confirmPassword)" #confirmPassword="ngForm">
          <div class="input-field">
            <input
              #newPassword="ngModel"
              [(ngModel)]="Passwords.newPassword"
              id="newPassword"
              name="newPassword"
              type="password"
              required
              placeholder="Neues Passwort"
            />
          </div>

          <div class="input-field">
            <input
              #confirmedPassword="ngModel"
              [(ngModel)]="Passwords.confirmedPassword"
              id="confirmedPassword"
              name="confirmedPassword"
              type="text"
              required
              placeholder="Neues Kennwort bestätigen"
            />
          </div>
          @if (newPassword.value != confirmedPassword.value && confirmedPassword.touched) {<label for="confirmedPassword" >Bitte gleiches Passwort eingeben</label>}
          
          <div class="btn-submit">
          <button type="submit" [disabled]="!confirmPassword.valid" 
            [ngClass]="{
            'btn-primary--disable': !confirmPassword.valid,
            'btn-primary--default': confirmPassword.valid}"
            >Passwort zurück setzen</button>
          </div>
        </form>
        
      </mat-card-content>
    </mat-card>
    <app-footer></app-footer>
  </div>
  
  <div class="overlay-container" [ngClass]="{ 'd-flex': this.resetPassword}">
    <div class="side-sheet">
       <span> Dein Passwort wurde geändert </span>
    </div>