@import './../../../../styles.scss';
@import './../../../../templates/input.scss';
@import './../../../../templates/styles/button.scss';

section {
    position: absolute;
    inset: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        gap: 20px;
        border-radius: 30px;
        max-width: 750px;
        margin: 32px;

        @media (max-width: 700px) {
            padding: 32px;
            margin: 24px;
        }

        @media (max-width: 450px) {
            padding: 16px;
            margin: 8px;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
}

.description {
    font-size: 18px;
    font-weight: 400;

    span{
        color: var(--color-purple-primary-default);
    }
}

h3 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-image-container {
    display: flex;

    >img {
        position: relative;
        z-index: 1;
        padding-left: 20px;
    }

    >input {
        margin-left: -40px;
        padding-left: 52px;
    }
}

span {
    font-size: 18px;
    font-weight: 700;
}

::placeholder {
    font-size: 18px;
    font-weight: 400;
}

.input-field {
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-border);
    font-size: 18px;
    font-weight: 400;

    &:hover {
        border: 1px solid var(--color-purple-primary-disabled);
    }

    &:focus {
        border: 1px solid var(--color-purple-secondary-hover);
        outline: none;
    }
}

.form-submit-button-container {
    display: flex;
    justify-content: end;
}

.btn-primary {
    font-size: 18px;
    font-weight: 700;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    &:hover {
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--color-blue-bg);

        :first-child {
            display: none;
        }

        :last-child {
            display: flex !important;
        }
    }
}

.optional {
    color: var(--color-grey-primary-disable);
    font-size: 18px;
    font-weight: 400;
}

.is-invalid {
    border: 1px solid var(--color-purple-error);
}

.error-message {
    color: var(--color-purple-error)
}

.form-input-container-header {
    justify-content: space-between;
    display: flex;
}

.d-none {
    display: none !important;
}