<mat-card>
    <img src="/assets/img/public/arrow_back.svg" alt="back">
    <mat-card-header> <h2>Passwort zurücksetzen</h2></mat-card-header>
    <mat-card-content>
      <p>Bitte geben Sie Ihre E-Mail-Adresse ein</p>
      <div class="input-field">
        <img src="assets/img/public/mail.svg" alt="mail">
        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" required placeholder="example@email.com">
      </div>  
      <p>Wir senden Ihnen eine E-Mail, über die 
        Sie Ihr Passwort ändern können.</p>

    <button class="btn-primary--disable">E-mail senden</button>
    </mat-card-content>
  </mat-card>