<div class="app-wrapper">
  <mat-card>
    <div class="card-head">
      <a [routerLink]="['/']"
        ><img class="arrow-back" src="/img/public/arrow-back.svg" alt="back"
      /></a>
      <mat-card-header> <h2>Passwort zurücksetzen</h2></mat-card-header>
    </div>
    <mat-card-content>
      <p class="info-text">Bitte geben Sie Ihre E-Mail-Adresse ein</p>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="input-field">
          <img src="/img/public/mail.svg" alt="mail" />
          <input
            [(ngModel)]="email"
            id="email"
            name="email"
            type="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
            required
            placeholder="example@email.com"
            #emailField="ngModel"
          />
        </div>
        @if (!emailField.valid && emailField.touched && !emailField.hasError('pattern')) {
        <label for="email" class="required-text">Bitte Email eingeben</label>
        } 
        @else if(emailField.hasError('pattern') && emailField.touched){
        <label for="email" class="required-text"
          >Bitte gib eine gültige Email-Adresse ein z.B.
          "meine-email&#64;email.de"
        </label>
        } @else {
        <label for="email" class="empty-field"></label>
        }
        
        <p class="info-text_pw">
          Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
        </p>
        <div class="btn-submit">
        <button type="submit" [disabled]="!emailField.valid"   [ngClass]="{
          'btn-primary--disable': !emailField.valid,
          'btn-primary--default': emailField.valid}"
          >E-Mail senden</button>
        </div>
      </form>
      
    </mat-card-content>
  </mat-card>
</div>
