@import './../../../../styles.scss';
/* @import './../sign-in/sign-in.component.scss'; */

.card-head{
@include arrangement($g:24px)
}

mat-card-content{
  @include arrangement($fd:column)
}

.info-text{
  text-align: center;
  padding-bottom: 24px;
  &_pw{
    @extend .info-text;
    max-width: 60%;
  }
}
