@import './../landing-page.component.scss';

.card-head{
@include arrangement($g:24px)
}

mat-card-content{
  @include arrangement($fd:column);
}

form{
  @include arrangement($fd:column);
}
.info-text{
  text-align: center;
  padding-bottom: 24px;
  &_pw{
    @extend .info-text;
    max-width: 60%;
  }
}

.empty-field{
  display: flex;
  min-height: 22px;
}
.required-text{
  color: red;
}

.btn-submit{
  width: 100%;
  @include arrangement($jc:end);
}