@import "./../../landing-page.component.scss";
@import "./../sign-in.component.scss";

.mat-mdc-card-content {
  padding: 16px !important;
}

.header-content {
  gap: 16px;
}

.main-content {
  @include arrangement($d: flex, $jc: normal, $ai: normal, $fd: column);
  gap: 36px;
}

.avatar-container {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: column);
  gap: 36px;

  img{
    width: 170px;
    height: 170px;
  }

  span {
    font-size: 32px;
    font-weight: 700;
  }
}

.avatar-list-container {
  @include arrangement($d: flex, $jc: normal, $ai: normal, $fd: column);
  gap: 16px;

  div {
    @include arrangement($d: flex, $jc: space-between, $ai: center, $fd: row);

    :first-child {
      border: 5px solid transparent;
      &:hover {
        border: 5px solid transparent;
        background: var(--color-grey-hover);
        border-radius: 100px;
        border-image-outset: 15px;
      }
      &.selected {
        border: 5px solid var(--color-blue-bg);
        border-radius: 100px;
      }
    }

    input {
      border: 1px solid transparent;
      &:hover {
        border: 1px solid transparent;
        background: var(--color-grey-hover);
        border-radius: 100px;
        border-image-outset: 15px;
      }
      &.selected {
        border: 1px solid var(--color-blue-bg);
        background: var(--color-blue-bg);
        border-radius: 100px;
        border-image-outset: 15px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }

  span {
    font-size: 20px;
    font-weight: 400;
  }

  .clicked{
    border: 1px solid var(--color-blue-bg);
  }
}