<div class="app-wrapper">
    <mat-card>

        <mat-card-content>
            <mat-card-header>
                <div class="header-content">
                    <a class="arrow-back" (click)="navigateTo('sign-in')"
                      ><img src="/img/public/arrow-back.svg" alt="back"
                    /></a>
                    <h2>Wähle deinen Avatar</h2>
                </div>
            </mat-card-header>

            <form (ngSubmit)="saveUser()" #createAvatarForm="ngForm">

                <div class="main-content">

                    <div class="avatar-container">
                        <img [src]="selectedAvatarImg" alt="back"/>
                        <span>{{user?.name}}</span>
                    </div>
    
                    <div class="avatar-list-container">
                        <span>Aus der Liste wählen</span>
                        <div>
                            @for (avatar of avatarList; track avatar.name; let index = $index) {
                                <input type="image" 
                                        src="{{avatar.img}}" 
                                        alt="{{avatar.name}}" 
                                        name="avatarSelection" 
                                        value="{{avatar.name}}"
                                        [ngClass]="{'selected': selectedAvatar === avatar.name}"
                                        (click)="selectAvatar(avatar.name, avatar.img, $event)"
                                        >
                            }
                        </div>
                    </div>
                
                    <div class="button-container">
                        <input
                        type="submit" 
                        value="Weiter" 
                        [disabled]="!selectedAvatar" 
                        [ngClass]="{
                          'btn-primary--disable': !selectedAvatar,
                          'btn-primary--default': selectedAvatar
                        }"
                        >
                    </div>

                </div>
  
            </form>

        </mat-card-content>

    </mat-card>

</div>


<div class="overlay-container" [ngClass]="{'d-flex': this.avatarCreated}">
    <span class="side-sheet">
        Konto erfolgreich erstellt!
    </span>
</div>