<div class="app-wrapper">
    <app-header-section></app-header-section>
    <mat-card>

        <mat-card-content>
            <mat-card-header>
                <div class="header-content">
                    <a class="arrow-back" (click)="navigateTo('sign-in')"
                      ><img src="/img/public/arrow-back.svg" alt="back"
                    /></a>
                    <h2>Wähle deinen Avatar</h2>
                </div>
            </mat-card-header>

            <form (ngSubmit)="createUser(createAvatarForm)" #createAvatarForm="ngForm">

                <div class="main-content">

                    <div class="avatar-container">
                        <img [src]="'/img/general-view/create-avatar/'+ accountData.accountImg + '.svg'" alt="back"/>
                        <span>{{accountData.name}}</span>
                    </div>
    
                    <div class="avatar-list-container">
                        <span>Aus der Liste wählen</span>
                        <div>
                            <div *ngFor="let avatar of avatarList; let index = index">
                                <input type="image" 
                                       [src]="'/img/general-view/create-avatar/' + avatar + '.svg'" 
                                       [alt]="avatar" 
                                       name="avatarSelection" 
                                       [value]="avatar"
                                       [ngClass]="{'selected': accountData.accountImg === avatar}"
                                       (click)="selectAvatar(avatar, $event)">
                              </div>
                        </div>
                    </div>
                
                    <div class="button-container">
                        <input
                        type="submit" 
                        value="Weiter" 
                        [disabled]="!accountData.accountImg" 
                        [ngClass]="{
                          'btn-primary--disable': !accountData.accountImg,
                          'btn-primary--default': accountData.accountImg
                        }"
                        >
                    </div>

                </div>
  
            </form>

        </mat-card-content>

    </mat-card>

    <app-footer></app-footer>

</div>


<div class="overlay-container" [ngClass]="{'d-flex': this.avatarCreated}">
    <span class="side-sheet">
        Konto erfolgreich erstellt!
    </span>
</div>