<div *ngIf="channelMembersService.showChatGreyScreen" class="grey-screen"></div>
<header>
  <div class="header-chat-info-container" (click)="toggleChatDetails()">
    <h3>#</h3>
    <h3 class="channel-name">{{ chatService.currentChannelData?.channelName }}</h3>
    <button>
      <img class="d-flex center" src="assets/img/arrow_drop_down_thin.svg">
      <img class="d-none center" src="assets/img/hover_arrow_drop_down_thin.svg">
    </button>
  </div>
  <app-chat-details id="chatDetailsOverlay" *ngIf="chatDetails" (callParent)="toggleChatDetails()"></app-chat-details>
  <app-channel-members *ngIf="showMembersInfo" id="channelMembersMenu" (closeMe)="closeMembersInfo()"
    (openAddMembers)="openAddMembersMenu()"></app-channel-members>
  <app-add-members *ngIf="channelMembersService.showAddMembersMenu" id="addMembersMenu"
    (closeMe)="closeAddMembersMenu()"></app-add-members>
  <div class="header-user-container">
    <div class="header-user-container_members" (click)="openMembersInfo()">
      <div>
        <img *ngFor="let icon of chatService.userIcons.slice(0,3)" class="user-icon" [src]="icon">
      </div>
      <span class="count">{{ chatService.currentChannelData?.users?.length }}</span>
    </div>
    <div class="change-image-on-hover" (click)="openAddMembersMenu()">
      <img src="assets/img/add_person.svg">
      <img class="d-none" src="assets/img/hover_add_person.svg">
    </div>
  </div>
</header>
<div #chatContainer class="all-chat-container">
  <div *ngFor="let message of filteredMessages$ | async" class="chat-content" (mouseleave)="showPicker = false">
    <div class="mobile-emoji-picker" *ngIf="showMobilePicker && isWindowBelow500()" (click)="setMobilePicker(false)">
      <app-emoji-picker (emojiSelected)="sendReaction($event, message.id)"
        (click)="$event.preventDefault(); setMobilePicker(false)"></app-emoji-picker>
    </div>
    <div class="chat-date" *ngIf="message.showDate">
      <div class="line"></div>
      <div class="chat-date_create">{{ message.formattedDate }}</div>
    </div>
    <div class="chat-content--{{ checkStyle(message.userId) }}" (mouseover)="hoveredMessageId = message.id"
      (mouseout)="hoveredMessageId = null">
      <div class="chat-content_reaction" *ngIf="hoveredMessageId === message.id && editMessageId !== message.id">
        <button (click)="sendReaction('green_check', message.id)"><img src="assets/img/green_check.svg"
            alt="check"></button>
        <button (click)="sendReaction('🙌', message.id)"><img src="assets/img/clap_hands.svg" alt="clap"></button>
        <button (click)="showPicker = !showPicker; setMobilePicker(true)"><img src="assets/img/add_reaction.svg" alt="check"></button>
        <app-emoji-picker class="emoji-picker--{{ checkStyle(message.userId) }}"
          *ngIf="showPicker && !isWindowBelow500()" (mouseleave)="showPicker = false"
          (click)="$event.preventDefault()"
          (emojiSelected)="sendReaction($event, message.id)"></app-emoji-picker>
        <button (click)="openThread(message.id)"><img src="assets/img/add_comment.svg" alt="check"></button>
        <button *ngIf="checkStyle(message.userId) === 'secondary'" (click)="showEditMessage = !showEditMessage"
          class="relative">
          <img src="assets/img/menu_points.svg" alt="check">
          <span *ngIf="showEditMessage" (click)="editMessageId = message.id; initializeMessageValue(message.content)"
            class="edit-message">Nachricht
            bearbeiten</span>
        </button>
      </div>
      <div class="row-reverse" *ngIf="messageDetailsMap[message.uniqueId] as userData">
        <img class="avatar" src="{{ userData.avatar }}" alt="avatar" />
        <div *ngIf="message.id !== editMessageId" class="chat-content_conversation--{{ checkStyle(message.userId) }}">
          <div class="chat-content_header">
            <span>{{ userData.username }}</span>
            <span>{{ formatTime(message.createdAt) }}</span>
          </div>
          <span class="chat-content_message--{{ checkStyle(message.userId) }}">
            {{ message.content }}
          </span>
        </div>
      </div>
      <div class="thread-answers-count" (click)="openThread(message.id)"
        *ngIf="message.threadAnswers > 0 && editMessageId !== message.id">{{
        message.threadAnswers }} Antworten
      </div>
      <form *ngIf="message.id === editMessageId" class="edit-container"
        (ngSubmit)="updateChatMessage(message.id, message.uniqueId)">
        <textarea [(ngModel)]="messageValue" name="newMessageValue">{{ message.content }}</textarea>
        <div class="edit-btn-container">
          <button *ngIf="!isMobile" class="btn-secondary--default" (click)="editMessageId = null">Abbrechen</button>
          <button *ngIf="!isMobile" class="btn-primary--default" type="submit">Speichern</button>
          <button *ngIf="isMobile" (click)="editMessageId = null" class="btn-secondary--default"><img
              src="assets/img/close.svg"></button>
          <button *ngIf="isMobile" class="btn-primary--default" type="submit"><img
              src="assets/img/mobile_save.svg"></button>
        </div>
      </form>
      <app-reactions class="message-reactions" [message]="message" [hoveredMessageId]="hoveredMessageId"
        *ngIf="editMessageId !== message.id"></app-reactions>
    </div>
  </div>
  <div class="new-message" *ngIf="newMessage">
    <button (click)="scrollToElement('smooth')">neue Nachricht ⬇️</button>
  </div>
</div>