<div *ngIf="showGreyScreen" class="grey-screen"></div>
<header>
  <div class="header-chat-info-container" (click)="toggleChatDetails()">
    <h3>#</h3>
    <h3>{{ currentChannelName }}</h3>
    <button>
      <img class="d-flex center" src="/img/general-view/workspace-menu/arrow_drop_down_thin.svg">
      <img class="d-none center" src="/img/general-view/workspace-menu/hover_arrow_drop_down_thin.svg">
    </button>
  </div>
  <app-chat-details id="chatDetailsOverlay" *ngIf="chatDetails" (callParent)="toggleChatDetails()"></app-chat-details>
  <app-channel-members *ngIf="showMembersInfo" id="channelMembersMenu" (closeMe)="closeMembersInfo()"
    (openAddMembers)="openAddMembersMenu()"></app-channel-members>
  <app-add-members *ngIf="showAddMembers" id="addMembersMenu" (closeMe)="closeAddMembersMenu()"></app-add-members>
  <div class="header-user-container">
    <div class="header-user-container_members" (click)="openMembersInfo()">
      <div>
        <img class="user-icon " src="/img/public/user_icon_male_2.svg">
        <img class="user-icon margin-left-minus-10" src="/img/public/user_icon_male_2.svg">
        <img class="user-icon margin-left-minus-10" src="/img/public/user_icon_male_2.svg">
      </div>
      <span class="count">3</span> <!--Druch Variable ersetzen-->
    </div>
    <div class="change-image-on-hover" (click)="openAddMembersMenu()">
      <img src="/img/general-view/workspace-menu/add_person.svg">
      <img class="d-none" src="/img/general-view/workspace-menu/hover_add_person.svg">
    </div>
  </div>
</header>
<div #chatContainer class="all-chat-container">
  <div *ngFor="let message of filteredMessages$ | async" class="chat-content" (mouseleave)="showPicker = false">
    <div class="chat-date" *ngIf="message.showDate">
      <div class="line"></div>
      <div class="chat-date_create">{{ message.formattedDate }}</div>
    </div>
    <div 
      class="chat-content--{{ checkStyle(message.userId) }}" 
      (mouseover)="hoveredMessageId = message.id"
      (mouseout)="hoveredMessageId = null">
        <div class="chat-content_reaction" *ngIf="hoveredMessageId === message.id">
          <button><img src="img/general-view/chat/green_check.svg" alt="check"></button>
          <button><img src="img/general-view/chat/clap_hands.svg" alt="check"></button>
          <button (click)="showPicker = !showPicker"><img src="img/general-view/chat/add_reaction.svg"
              alt="check"></button>
          <app-emoji-picker *ngIf="showPicker" (mouseleave)="showPicker = false"
            (click)="$event.preventDefault()"></app-emoji-picker>
          <button><img src="img/general-view/chat/add_comment.svg" alt="check"></button>
          <button *ngIf="checkStyle(message.userId) === 'secondary'">
            <img src="img/general-view/chat/menu_points.svg" alt="check">
          </button>
        </div>
      <div class="row-reverse">
        <img src="img/general-view/create-avatar/avatar1.svg" alt="avatar" />
        <div class="chat-content_conversation">
          <div class="chat-content_header">
            <span>{{ message.sender }}</span>
            <span>{{ formatTime(message.createdAt) }}</span>
          </div>
          <span class="chat-content_message--{{ checkStyle(message.userId) }}">
            {{ message.content }}
          </span>
        </div>
      </div>
      <div class="message-reactions"  >
         <div *ngFor="let reaction of reactionEntries(message); let i = index">
          <div 
            (mouseenter)="showPopover(i, reaction.users)"
            (mouseleave)="hidePopover(i)"
            class="message-reactions_btn"> 
            {{ reaction.emoji }} {{ reaction.count }} 
          </div>
        
          <div class="message-reactions_popover--{{checkStyle(message.userId)}}" *ngIf="showPopoverReaction === i">
            {{ reaction.emoji }} <br>
        
            <div *ngIf="reactionUserNamesCache[i]"> 
              <b *ngFor="let name of reactionUserNamesCache[i]">
                {{ name }} <br>
              </b> 
              <span *ngIf="reaction.users.length > 2">
               und {{ reaction.users.length - 2 }} weitere
              </span>
            </div>
            <br>hat reagiert
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="new-message" *ngIf="newMessage">
    <button (click)="scrollToElement('smooth')">neue Nachricht ⬇️</button>
  </div>
</div>