<div>
  <header>
    <h3>Leute hinzufügen</h3>
    <div class="close-button" (click)="closeAddMembersMenu()">
      <img src="/img/general-view/workspace-menu/close.svg" />
      <img
        class="d-none"
        src="/img/general-view/workspace-menu/hover_close.svg"
      />
    </div>
  </header>
  <div class="channel-name">
    <span>#</span>
    <span>{{ publicChatComponent.currentChannelData.channelName }}</span>
  </div>
</div>
<form>
  <input class="input-field" placeholder="Name eingeben" />
</form>
<div class="button-container">
  <button class="btn-primary--default">Hinzufügen</button>
</div>
