<section>
    <!-- <div class="app-wrapper"> -->
        <mat-card>

            <mat-card-content>
                <mat-card-header>

                    <a class="arrow-back"><img src="/img/public/arrow-back.svg" alt="back" /></a>

                </mat-card-header>
                <h2>Profile</h2>


                <!-- <mat-card-footer> -->
                <h3>Contact:</h3>
                <p>Email: <a href="mailto:contact@dabubble.com">contact&#64;dabubble385.com</a></p>
                <!-- </mat-card-footer> -->

            </mat-card-content>

        </mat-card>
    <!-- </div> -->
</section>