@import "../../../../styles.scss";
@import "../../../../templates/mixins.scss";

.login-header {
    @include arrangement($d: flex, $jc: space-between, $ai: center, $fd: row);
    width: 100vw;
    padding: 32px;
    box-sizing: border-box;
    
    @media (max-height: 725px) {
        margin: 32px 0 0 32px;
    }
  
    .login-header-logo {
      @include arrangement($d: flex, $jc: center, $ai: center, $fd: row);
      gap: 8px;
      font-size: 28px;
  
      img {
        height: 75px;
      }
    }
}
