<div class="login-header">
  <div [ngClass]="{'header-animation': !animationPlayed}" class="login-header-logo">
    <img src="/img/general-view/workspace-menu/Logo.svg" alt="Logo">
    <h1>DABubble</h1>
    <div class="header-logo-overlay"></div>
  </div>
  <div class="login-header-link" >
    <span>Neu bei DA Bubble?</span>
    <a [routerLink]="['sign-in']">Konto erstellen</a>
  </div>
</div>

<div [ngClass]="{'d-none': animationPlayed}" class="overlay"></div>
<div [ngClass]="{'d-none': animationPlayed}" class="overlay" class="logo-wrapper">
  <img src="/img/general-view/workspace-menu/Logo.svg" alt="Logo">
  <div class="animated-text">
    <p>DABubble</p>
  </div>
</div>

<div class="login-card">
    <mat-card>
        <div class="card-header">
          <h2>Anmeldung</h2>
          <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        </div>

        <div class="login-input">

          <div class="input-field">
            <img src="/img/public/mail.svg" alt="">
            <input type="email" placeholder="beispielname@email.com">
          </div>

          <div class="input-field">
            <img src="/img/public/password-lock.svg" alt="">
            <input type="text" placeholder="Passwort">
          </div>

        </div>

        <a [routerLink]="['forgot-password']">Passwort vergessen?</a>

        <div class="login-border">
          <div class="border-line"></div>
          <span>ODER</span>
          <div class="border-line"></div>
        </div>

        <div class="google-login">
          <button class="input-field">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
              <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
              <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
              <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
              <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
              <path fill="none" d="M0 0h48v48H0z"></path>
            </svg>
            <span>Anmelden mit Google</span>
          </button>
        </div>

        <div class="login-button">
          <button class="btn-primary--default">Anmelden</button>
          <button class="btn-secondary--default">Gäste-Login</button>
        </div>

    </mat-card>
</div>

<p>login works!</p>
<button
  class="btn-primary--default"
  (click)="navigateTo('general/public-chat')"
>
  Go to chat
</button>
<button class="btn-secondary--disable">secondary--disable</button>
<button class="btn-primary--default" (click)="navigateTo('imprint')">
  Impressum
</button>
<button class="btn-primary--default" (click)="navigateTo('sign-in')">
  Konto erstellen
</button>
<button class="btn-primary--default" (click)="navigateTo('forgot-password')">
  Passwort vergessen
</button>

