<div class="app-wrapper">
  <div class="login-header">
    <div [ngClass]="{ 'header-animation': !animationPlayed }" class="login-header-logo">
      <img src="/img/general-view/workspace-menu/Logo.svg" alt="Logo" />
      <h1>DABubble</h1>
      <div class="header-logo-overlay"></div>
    </div>
    <div class="login-header-link">
      <span>Neu bei DA Bubble?</span>
      <button class="btn-glass--default" [routerLink]="['sign-in']">
        Konto erstellen
      </button>
    </div>
  </div>
  <div class="responsive-login-footer">
    <div class="login-header-link">
      <span>Neu bei DA Bubble?</span>
      <button class="btn-glass--default" [routerLink]="['sign-in']">
        Konto erstellen
      </button>
    </div>
  </div>
  <div [ngClass]="{ 'd-none': animationPlayed }" class="overlay"></div>
  <div [ngClass]="{ 'd-none': animationPlayed }" class="overlay" class="logo-wrapper">
    <img src="/img/general-view/workspace-menu/Logo.svg" alt="Logo" />
    <div class="animated-text">
      <p>DABubble</p>
    </div>
  </div>
  <form [formGroup]="loginForm" class="login-card" (ngSubmit)="logIn()">
    <mat-card>
      <div class="card-wrapper">
        <div class="card-header">
          <h2>Anmeldung</h2>
          <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der
            Arbeit verwendest.</span>
        </div>
        <div class="login-input">
          <div class="input-field">
            <img src="/img/public/mail.svg" alt="" />
            <input type="email" placeholder="beispielname@email.com" formControlName="email"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required />
          </div>
          <div class="error-message">
            <span>{{ loginErrorMail }}</span>
          </div>
          <div class="input-field">
            <img src="/img/public/password-lock.svg" alt="" />
            <input type="password" placeholder="Passwort" formControlName="password" minlength="6" req />
          </div>
          <div class="error-message">
            <span>{{ loginErrorPassword }}</span>
          </div>
        </div>
        <a [routerLink]="['forgot-password']">Passwort vergessen?</a>
        <div class="login-border">
          <div class="border-line"></div>
          <span>ODER</span>
          <div class="border-line"></div>
        </div>
        <div class="google-login">
          <button class="input-field" type="button" (click)="googleLogIn()">
            <img src="/img/general-view/log-in/google-logo.svg" alt="" />
            <span>Anmelden mit Google</span>
          </button>
        </div>
        <div class="login-button">
          <button class="btn-primary--default" type="submit">Anmelden</button>
          <button class="btn-secondary--default" type="button" (click)="guestLogIn()">
            Gäste-Login
          </button>
        </div>
      </div>
    </mat-card>
  </form>
  <div class="login-header-link-mobile">
    <span>Neu bei DA Bubble?</span>
    <button class="btn-glass--default" [routerLink]="['sign-in']">
      Konto erstellen
    </button>
  </div>
  <app-footer></app-footer>
</div>