@import "../../../../styles.scss";
@import "../../../../templates/mixins.scss";
@import "../../../../templates/input.scss";
@import "../../../../templates/styles/button.scss";
@import "../../landing-page/landing-page.component.scss";

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideText {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@keyframes slideImage {
  from {
    right: -40%;
  }

  to {
    right: 0%;
  }
}

@keyframes textColor {
  from {
    color: white;
  }

  to {
    color: black;
  }
}

@keyframes slideAndShrinkFull {
  from {
    transform: scale(1) translate(0);
  }

  to {
    transform: scale(0.5) translate(-82vw, -85vh);
  }
}

@keyframes slideAndShrinkMid {
  from {
    transform: scale(1) translate(0);
  }

  to {
    transform: scale(0.5) translate(-65vw, -85vh);
  }
}

@keyframes slideAndShrinkSmall {
  from {
    transform: scale(1) translate(0);
  }

  to {
    transform: scale(0.5) translate(-55vw, -85vh);
  }
}

@keyframes slideAndShrinkMobile {
  from {
    transform: scale(1) translate(0);
  }

  to {
    transform: scale(0.5) translate(-83vw, -90vh);
  }
}

.login-header {
  @include arrangement($d: flex, $jc: space-between, $ai: center, $fd: row);
  width: 100%;
  padding: 32px;
  box-sizing: border-box;

  @media (max-width: 450px) {
    display: flex;
    justify-content: center;
    padding: 16px 32px;
  }

  @media (max-height: 650px) {
    padding-bottom: 0;
  }

  @media (max-height: 720px) {
    padding: 16px;
  }

  @media (max-height: 800px) and (max-width: 600px) {
    padding-bottom: 0;
  }

  @media (min-width: 1920px) and (min-height: 1080px) {
    width: 1920px;
    padding: 32px 0 32px 0;
  }

  .login-header-logo {
    @include arrangement($d: flex, $jc: center, $ai: center, $fd: row);
    gap: 8px;
    font-size: 28px;

    img {
      height: 75px;
    }

    .header-logo-overlay {
      position: absolute;
      width: 300px;
      height: 100%;
      background-color: transparent;
    }
  }

  .login-header-link {
    @include arrangement($d: flex, $jc: center, $ai: flex-end, $fd: column);
    gap: 16px;

    a {
      @include linkStyle(var(--color-purple-primary-disabled),
        var(--color-blue-bg),
        var(--color-purple-primary-default));
    }

    @media (max-width: 700px) {
      display: none;
    }
  }
}

.login-header-link-mobile {
  display: none;
}

.responsive-login-footer {
  display: none;
}

.header-animation {
  opacity: 0;
  animation: fadeIn 0.2s forwards 4.2s;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #797ef3, #313be5);
  background-color: transparent;
  animation: fadeOut 0.8s forwards 4s;
}

.logo-wrapper {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: row);
  position: absolute;
  z-index: 3;
  left: calc(50% - 250px);
  right: calc(50% - 250px);
  top: calc(50% - 100px);
  bottom: calc(50% - 100px);
  width: 500px;
  height: 200px;
  overflow: hidden;
  gap: 16px;
  animation: slideAndShrinkFull 0.2s forwards 4s, fadeOut 0.1s forwards 4.2s;

  @media (max-width: 1550px) {
    animation: slideAndShrinkMid 0.2s forwards 4s, fadeOut 0.1s forwards 4.2s;
  }

  @media (max-width: 900px) {
    animation: slideAndShrinkSmall 0.2s forwards 4s, fadeOut 0.1s forwards 4.2s;
  }

  @media (max-width: 600px) {
    left: 65%;
    transform: translateX(-50%);
    width: fit-content;
    animation: slideAndShrinkMobile 0.2s forwards 4s, fadeOut 0.1s forwards 4.2s;
  }

  img {
    object-fit: cover;
    position: relative;
    right: -38%;
    animation: slideImage 0.5s forwards 1.5s;
    height: 150px;

    @media (max-width: 600px) {
      height: 50px;
      right: -30%;
    }
  }

  .animated-text {
    @include arrangement($d: flex, $jc: center, $ai: center, $fd: column);
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 100%;
    background: transparent;

    @media (max-width: 600px) {
      width: 250px;
    }

    p {
      color: white;
      font-size: 68px;
      font-weight: bold;
      position: absolute;
      left: 100%;
      animation: slideText 0.7s forwards 2.5s, textColor 0.2s forwards 4s;

      @media (max-width: 600px) {
        font-size: 32px;
      }
    }
  }
}

form {
  width: 100%;
}

.card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.login-card {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: column);

  mat-card {
    @include arrangement($d: flex, $jc: center, $ai: center, $fd: column);
    position: relative;
    width: 90%;
    z-index: 1;
    gap: 24px;
    padding: 36px;

    .card-header,
    .login-input {
      @include arrangement($d: flex, $jc: center, $ai: unset, $fd: column);
      flex-direction: column;
      gap: 24px;
    }

    .card-header {
      h2 {
        @include centeredHeading(var(--color-purple-primary-default),
          0,
          center);
      }

      span {
        @include centeredHeading(unset, 0, center);
      }
    }

    a {
      width: max-content;
      @include linkStyle(var(--color-purple-primary-disabled),
        var(--color-blue-bg),
        var(--color-purple-primary-default));
    }

    .login-border {
      @include arrangement($d: flex, $jc: space-between, $ai: center, $fd: row);
      width: 100%;

      .border-line {
        width: 200px;
        height: 1px;
        background-color: lightgray;
      }

      span {
        margin: 0 8px;
      }
    }
  }
}

.login-input {
  width: 100%;

  .input-field {
    &:hover {
      cursor: pointer;
    }
  }

  .error-message {
    min-height: 21.5px;
    margin-top: -23px;
    margin-bottom: -23px;

    span {
      font-size: 14px;
      padding-left: 24px;
      color: var(--color-purple-error);
    }
  }
}

.google-login {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: row);
  width: 100%;

  button {
    @include arrangement($d: flex, $jc: center, $ai: center, $fd: row);
    width: 100%;
    gap: 16px;
    font-size: 18px;

    img {
      height: 28px;
      width: 28px;
    }

    &:hover {
      border: 1px solid var(--color-purple-primary-default);
      cursor: pointer;
    }
  }
}

.login-button {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: row);
  gap: 16px;

  button {
    font-size: 18px;
  }
}

.d-none {
  display: none;
}

@media (max-height: 720px) {
  .login-card {
    mat-card {
      padding: 18px;
    }
  }
}

@media (max-width: 700px) {
  .login-header-link {
    display: none;
  }

  .login-header-link-mobile {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 32px;
  }

  .login-header-logo {
    img {
      height: 50px !important;
    }
  }

  h2 {
    font-size: 32px;
  }

  .login-card {
    mat-card {
      padding: 16px;
      gap: 16px;
    }
  }

  .btn-secondary--default {
    padding: 8px;
  }

  .input-field {
    span {
      font-size: 17px;
    }
  }
}

.app-wrapper {
  @media (max-height: 570px) {
    overflow: scroll;
  }

  @media (max-width: 450px) {
    gap: 16px;
  }

  @media (max-width: 450px),
  (max-height: 650px) {
    gap: 0;
  }

  @media (min-height: 800px) and (max-width: 415px) {
    justify-content: space-between;
  }
}

@media (max-height: 700px) {
  .btn-glass--default {
    padding: 0;
  }
}