@import '../../../../templates/mixins.scss';

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -2;
    }
}

@keyframes slideText {
    0% {
      left: -100%;
    }
    100% {
      left: 0%;
    }
}

@keyframes slideImage {
    0% {
        right: -40%;
    }
    100% {
        right: 0%;
    }
}

@keyframes textColor {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}

@keyframes slideAndShrink {
    0% {
        transform: scale(1) translate(0);
    }
    100% {
        transform: scale(0.5) translate(-80vw, -80vh);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #797EF3, #313BE5);
    background-color: transparent;
    animation: fadeOut .6s forwards 4s;
}

.wrapper {
    @include arrangement();
    position: absolute;
    z-index: 1;
    left: calc(50% - 250px);
    right: calc(50% - 250px);
    top: calc(50% - 100px);
    bottom: calc(50% - 100px);
    width: 500px;
    height: 200px;
    overflow: hidden;
    gap: 16px;
    animation: slideAndShrink 1s forwards 4s;

    svg {
        object-fit: cover;
        position: relative;
        right: -38%;
        animation: slideImage .5s forwards 1.5s;
    }
    
    .animatedText {
        @include arrangement();
        position: relative;
        overflow: hidden;
        width: 400px;
        height: 100%;
        background: transparent;

        p {
            color: white;
            font-size: 68px;
            font-weight: bold;
            position: absolute;
            left: 100%;
            animation: slideText .7s forwards 2.5s, textColor .2s forwards 4s;
        }
    }
}