@import './../../../../../styles.scss';

section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 45px 25px 45px;
    box-shadow: 0px 2px 10px -10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: unset !important;
}

h3 {
    margin: 0;
}

.input-field {
    background-color: var(--color-white);
    font-size: 18px;
    border: 1px solid var(--color-blue-border);
    position: relative;

    &:hover {
        outline: none;
        border: 1px solid var(--color-purple-primary-default);
    }

    &:focus {
        outline: none;
        border: 1px solid var(--color-purple-primary-default);
    }
}

::placeholder {
    font-size: 18px;
}