<section>
  <h3>Neue Nachricht</h3>
  <div class="input-field-container">
    <input (input)="onSearchInput($event)" class="input-field"
      placeholder="An: #channel, oder @jemand oder E-Mail-Adresse" (focus)="handleFocus()" (blur)="handleBlur()"
      [(ngModel)]="searchQuery" name="searchQuery" autocomplete="off">
    <app-all-members [ngClass]="{'d-none': searchQuery === '' || selectedOption}"
      [searchQuery]="searchQuery.startsWith('@') ? searchQuery.substring(1) : searchQuery"
      (memberClicked)="clearSearchField()"></app-all-members>
    <div *ngIf="showChannels" class="search-channel_results">
      @if(channelsAvailable){
      <div *ngFor="let channel of channels" (click)="goToChannel(channel.channelId)">{{ channel.channelName }}</div>
      }
      @else {
      <div>No Channels found.</div>
      }
    </div>
    <div class="all-selected-member-container" [ngClass]="{ 'd-none': !showSelectedMembersInSearchField() }">
      <div class="member-container" *ngFor="let member of selectedMembers | slice : 0 : 2">
        <img class="avatar" src="{{ member?.avatar }}" alt="Member Avatar" />
        <span>{{ member.username }}</span>
        <div class="arrow-back" (click)="removeMember(member)">
          <img src="/img/general-view/workspace-menu/close.svg" />
        </div>
      </div>
      <div (click)="showSelectedMembers()" class="further-members-container" *ngIf="selectedMembers.length > 2">
        +{{ selectedMembers.length - 2 }}
      </div>
      <div (click)="showSelectedMembers()" class="members-container-mobile" *ngIf="selectedMembers.length > 0">
        Mitglieder: {{ selectedMembers.length }}
      </div>
    </div>
  </div>
</section>