@import "./../../../../styles.scss";

section {
  background-color: var(--color-white);
  width: 366px;
  padding: 32px 30px 32px 30px;
  flex-direction: column;
  gap: 25px;
  height: calc(100vh - 192px);
}

.d-none {
  display: none;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.height-width-40 {
  height: 40px;
  width: 40px;
}

.height-width-24 {
  height: 24px;
  width: 24px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.radius-30 {
  border-radius: 30px;
}

.hover {
  &:hover {
    cursor: pointer;
    background-color: var(--color-blue-bg);
  }
}

.hover-text-color {
  @include filter-hover(purple-secondary-hover);
}

.img-switch {
  transition: all ease-in 100ms;

  &:hover {
    > :first-child {
      display: none;
    }

    > :last-child {
      display: flex;
    }
  }
}

.workspace-menu-header {
  @include arrangement($jc: space-between);

  &--primary {
    @include arrangement($jc: normal, $ai: normal, $g: 15px);
  }

  &--secondary {
    height: 40px;
    width: 40px;
    @include arrangement();
    border-radius: 30px;

    &:hover {
      cursor: pointer;
      background-color: var(--color-blue-bg);
    }

    > img {
      height: 24px;
      width: 24px;
    }
  }
}

.devspace-logo {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

h3 {
  @include arrangement($jc: normal);
}

.channels-and-chat-container {
  max-height: calc(100vh - 277px);
  height: 100%;
  @include arrangement($jc: normal, $ai: normal, $fd: column);
}

.channels-and-chat-container-upper {
  @include arrangement($jc: space-between, $ai: normal, $g: 25px);
  max-height: 30%;
  width: 100%;
}

.channels-and-chat-container-lower {
  @include arrangement($fd: column, $jc: normal, $ai: normal, $g: 25px);
  max-height: 70%;
}

.channels-header {
  @include arrangement($g: 15px);
  @include filter-hover(purple-secondary-hover);
}

.mat-expansion-panel {
  max-height: fit-content;
  // max-width: fit-content;
  width: 100%;
}

#expansion-panel-2 {
  margin-top: 8px;
}

.mat-expansion-panel-header:not([aria-disabled="true"]) {
  cursor: auto;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header {
  padding: 0;
}

.header-middle {
  align-items: center;

  > span {
    font-weight: 700;
    font-size: 20px;
  }
}

.channels {
  flex-direction: column;
  align-items: center;
}

.add-channel {
  @include arrangement($jc: normal, $g: 10px);

  > span {
    font-weight: 400px;
    font-size: 18px;
  }
}

.grow-img {
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

.contacts-container {
  @include arrangement($fd: column, $ai: flex-start, $g: 13px, $jc: normal);
  height: 100%;
  overflow-y: scroll;
}

.contact {
  padding: 4px 20px 4px 20px;
  @include arrangement($g: 15px, $jc: center, $ai: center);
  border-radius: 30px;
  transition: all ease-in 100ms;

  > img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
  }

  > span {
    font-weight: 400;
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-blue-bg);
  }
}

.channel--primary {
  padding: 4px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
  margin-left: 25px;

  > b {
    font-size: 18px;
    font-weight: 700;
  }

  > span {
    font-size: 18px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-blue-bg);
    color: var(--color-purple-secondary-hover);
  }
}

.p-absolute {
  position: absolute;
  right: 0;
  margin-right: 14px;
}

.a-items {
  align-items: start;
  padding: 8px;
}
