<mat-drawer-container [class.margin-left-20]="toggleMarginLeft === true">
  <mat-drawer #drawer mode="side" opened id="workspace-menu-drawer">
    <div class="workspace-menu-header">
      <div class="workspace-menu-header--primary">
        <img class="devspace-logo" src="/img/general-view/workspace-menu/logo_devspace.svg" />
        <h3 class="cursor-no-change">Devspace</h3>
      </div>
      <div class="workspace-menu-header--secondary img-switch" (click)="openNewMessage()">
        <img src="/img/general-view/workspace-menu/edit.svg" />
        <img class="d-none" src="/img/general-view/workspace-menu/hover_edit.svg" />
      </div>
    </div>
    <div class="workspace-menu-mobile-searchbar">
      <input class="input-field" placeholder="Gehe zu..." /><img src="/img/general-view/workspace-menu/search.svg" />
    </div>
    <div class="channels-and-chat-container">
      <div class="channels-and-chat-container-upper">
        <mat-expansion-panel hideToggle [expanded]="true" (opened)="channelOpenState.set(true)"
          (closed)="channelOpenState.set(false)" id="expansion-panel-1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="channels-header">
                <div class="flex">
                  <img [src]="
                      channelOpenState()
                        ? '/img/general-view/workspace-menu/arrow_drop_down.svg'
                        : '/img/general-view/workspace-menu/arrow_drop_up.svg'
                    " />
                </div>
                <div class="header-middle">
                  <div class="flex">
                    <img class="height-width-24" src="/img/general-view/workspace-menu/dots_channels.svg" />
                    <img class="height-width-24 d-none"
                      src="/img/general-view/workspace-menu/hover_dots_channels.svg" />
                  </div>
                  <span>Channels</span>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="channels">
            <div *ngFor="let channel of readableChannels" class="channel--primary"
              (click)="modifyUrlWithChatString(channel.channelId)">
              <b>#</b>
              <span>{{ channel.channelName }}</span>
            </div>
          </div>
          <div class="channels--start hover-text-color grow-img">
            <div class="add-channel" (click)="openCreateChannelOverlay()">
              <img class="height-width-24 grow-img" src="/img/general-view/workspace-menu/add_circle.svg" />
              <span>Channel hinzufügen</span>
            </div>
          </div>
        </mat-expansion-panel>
        <div class="hover img-switch channels-header-new-channel" (click)="openCreateChannelOverlay()">
          <img class="height-width-24" src="/img/general-view/workspace-menu/add.svg" />
          <img class="height-width-24 d-none" src="/img/general-view/workspace-menu/hover_add.svg" />
        </div>
      </div>
      <div class="channels-and-chat-container-lower">
        <mat-expansion-panel hideToggle [expanded]="true" (opened)="messagesOpenState.set(true)"
          (closed)="messagesOpenState.set(false)" id="expansion-panel-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="header hover-text-color">
                <img [src]="
                    messagesOpenState()
                      ? '/img/general-view/workspace-menu/arrow_drop_down.svg'
                      : '/img/general-view/workspace-menu/arrow_drop_up.svg'
                  " />
                <div class="header-middle">
                  <img class="height-width-24" src="/img/general-view/workspace-menu/person_circle.svg" />
                  <span>Direktnachrichten</span>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="contacts-container">
            <div class="contact">
              <img src="{{ workspaceUserData?.avatar }}" />
              <span>{{ workspaceUserData?.username }} (Du)</span>
            </div>
            <div *ngFor="let user of allUsers" class="contact" (click)="openDirectMessage(user.id)">
              <img src="{{ user.avatar }}" />
              <span>{{ user.username }}</span>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-drawer>
  <app-workspace-state-toggle-button (menu)="drawer.toggle(); toggleMargin()"></app-workspace-state-toggle-button>
  <div class="mobile-new-message-bubble" (click)="openNewMessage()">
    <img src="/img/general-view/workspace-menu/edit.svg" />
  </div>
</mat-drawer-container>