<section>
    <div class="workspace-menu-header">
        <div class="gap-15">
            <img class="radius-30 devspace-logo" src="./assets/img/general-view/workspace-menu/logo_devspace.svg">
            <h3>Devspace</h3>
        </div>
        <img class="radius-30" src="./assets/img/general-view/workspace-menu/edit.svg">
    </div>
    <div class="channels-and-chat-container">
        <div class="channels-container">
            <div class="header">
                <img src="xy">
                <div class="channels-header-container">
                    <div class="header-middle gap-10">
                        <img src="xy">
                        <span>Channels</span>
                    </div>
                    <img src="xy">
                </div>
            </div>
            <div class="channels">
                <!-- Channel -->
                <div class="add-channel gap-10">
                    <img src="xy">
                    <span>Channel hinzufügen</span>
                </div>
            </div>
        </div>
        <div class="dm-container">
            <div class="header">
                <img src="xy">
                <div class="header-middle gap-10">
                    <img src="xy">
                    <span>Direktnachrichten</span>
                </div>
            </div>
            <div class="contacts-container">
                <div class="contact gap-15">
                    <!-- Dummy profile -->
                     <img src="xy">
                     <span>Karsten Stahl</span>
                </div>
                <div class="contact gap-15">
                    <!-- Dummy profile -->
                     <img src="xy">
                     <span>Shauna Vayne</span>
                </div>
                <div class="contact gap-15">
                    <!-- Dummy profile -->
                     <img src="xy">
                     <span>Stivka Bartel</span>
                </div>
                <div class="contact gap-15">
                    <!-- Dummy profile -->
                     <img src="xy">
                     <span>Charles Vincent VII</span>
                </div>
            </div>
        </div>
    </div>
</section>