<section>
    <div class="workspace-menu-header">
        <div>
            <img class="radius-30 devspace-logo" src="./assets/img/general-view/workspace-menu/logo_devspace.svg">
            <h3>Devspace</h3>
        </div>
        <img class="radius-30" src="./assets/img/general-view/workspace-menu/edit.svg">
    </div>
    <div class="channels-and-chat-container">
        <div class="channels-container">
            <div class="header">
                <img src="xy">
                <div class="channels-header-container">
                    <div class="channels-header-sub-container">
                        <img src="xy">
                        <span>Channels</span>
                    </div>
                    <img src="xy">
                </div>
            </div>
            <div class="channels">
                <!-- Channel -->
                <div class="add-channel">
                    <img src="xy">
                    <span>Channel hinzufügen</span>
                </div>
            </div>
        </div>
        <div class="dm-container">
            <div class="header">
                <img src="xy">
                <div>
                    <img src="xy">
                    <span>Direktnachrichten</span>
                </div>
            </div>
        </div>
    </div>
</section>