<section *ngIf="openAddMembers">
  <div class="main-content" [class.fade-out]="isAnimating">
    <div class="mobile-button-div">
      <button (click)="close()"></button>
    </div>
    <header>
      <h3>Leute einladen</h3>
      <div class="close-button" (click)="close()">
        <img src="/img/general-view/workspace-menu/close.svg" />
        <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg" />
      </div>
    </header>

    <form (ngSubmit)="onSubmit()">
      <div class="user-input-container">
        <!-- Radio-Buttons -->
        <div class="user-input">
          <label>
            <input type="radio" name="members" [(ngModel)]="selectedOption" [value]="true" />
            <span>Alle Mitglieder von
              <b class="purple">OfficeTeam</b> hinzufügen</span>
          </label>
          <label>
            <input type="radio" name="members" [(ngModel)]="selectedOption" [value]="false" />
            <span>Bestimmte Leute hinzufügen</span>
          </label>
        </div>

        <!-- Searchfield for Users when picking Radio-Button "Bestimmte Leute hinzufügen" -->
        <div class="input-field-container">
          <div class="input-wrapper" *ngIf="!selectedOption">
            <input class="input-field" placeholder="Namen eingeben" #nameInput [(ngModel)]="searchQuery"
              name="searchQuery" (focus)="handleFocus()" (blur)="handleBlur()" />

            <div class="all-selected-member-container" [ngClass]="{ 'd-none': !showSelectedMembersInSearchField() }">
              <div class="member-container" *ngFor="let member of selectedMembers | slice : 0 : (isMobile ? 1 : 2)">
                <img class="avatar" src="{{ member?.avatar }}" alt="Member Avatar" />
                <span>{{ member.username }}</span>
                <div class="arrow-back" (click)="removeMember(member)">
                  <img src="/img/general-view/workspace-menu/close.svg" />
                </div>
              </div>
              <div (click)="showSelectedMembers()" class="further-members-container"
                *ngIf="selectedMembers.length > (isMobile ? 1 : 2)">
                +{{ selectedMembers.length - (isMobile ? 1 : 2) }}
              </div>

              <div (click)="showSelectedMembers()" class="members-container-mobile" *ngIf="selectedMembers.length > 0">
                Mitglieder: {{ selectedMembers.length }}
              </div>
            </div>
          </div>

          <!-- Search Results under search input field -->
          <app-all-members [ngClass]="{ 'd-none': searchQuery === '' || selectedOption }" [searchQuery]="searchQuery"
            (memberClicked)="clearSearchField()">
          </app-all-members>
        </div>

        <!-- Buttons to submit -->
        <div class="btn-container">
          <button *ngIf="selectedOption" class="btn-primary--default" type="submit">
            Erstellen
          </button>
          <button *ngIf="!selectedOption" class="btn-primary--default"
            [ngClass]="{ 'btn-primary--disable': selectedMembers.length <= 0 }" type="submit">
            Erstellen
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<div class="overlay-container" *ngIf="channelCreated">
  <span class="side-sheet"> Channel erfolgreich erstellt! </span>
</div>

<!-- Dialog to show all selected Members -->
<app-all-selected-members *ngIf="openSelectedMembers" [members]="selectedMembers"
  (closeWindow)="closeSelectedMembersWindow()">
</app-all-selected-members>