<section>
  <app-alt-header-mobile></app-alt-header-mobile>
  <app-new-message *ngIf="showNewMessageHeader"></app-new-message>
  <div class="chat-container" id="chat-container">
    <router-outlet></router-outlet>
    <div class="input-container">
      <textarea #messageInput #emojiTarget [placeholder]="'Nachricht an #' + currentChannelName "></textarea>
      <div class="textarea-icon-bar">
        <div appClickOutside (appClickOutside)="hideEmojiPicker()">
          <app-emoji-picker id="emojiChat" (emojiSelected)="onEmojiReceived($event)"
            class="d-none left-corner-0"></app-emoji-picker>
          <div class="chat-icons change-image-on-hover" (click)="showEmojiPicker()">
            <img src="assets/img/smiley.svg">
            <img class="d-none" src="assets/img/hover_smiley.svg">
          </div>
          <div class="chat-icons change-image-on-hover">
            <img src="assets/img/aet.svg">
            <img class="d-none" src="assets/img/hover_aet.svg">
          </div>
        </div>
        <div (click)="sendMessage(messageInput.value)" class="change-image-on-hover">
          <img class="height-width-40" src="assets/img/send.svg">
          <img class="d-none height-width-40" src="assets/img/hover_send.svg">
        </div>
      </div>
    </div>
  </div>
</section>