@import "./../../../../styles.scss";

section {
  background-color: var(--color-white);
  height: calc(100vh - 130px);
}


h3 {
  margin: 0;
}

.count {
  font-weight: 600;
  font-size: 20px;
}

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 25px;
  height: 100%;
}
  .chat-icons{
    @include arrangement();
    height: 40px;
    width: 40px;
    border-radius: 30px;
    &:hover{
      cursor: pointer;
      background-color: var(--color-blue-bg);
    }
  }

.height-new-message {
  height: calc(100% - 160px);
}

/* .chat {
  width: 100%;
  height: 100%;
  // padding: 0 35px;
  // box-sizing: border-box;
  @include arrangement($jc: normal, $fd: column, $g: 20px);
  overflow-y: auto;
} */

.input-container {
  position: relative;
  padding: 0 50px 40px 50px;
  display: flex;
  flex-direction: column;
}

textarea {
  height: 145px;
  border-radius: 20px;
  border: 1px #adb0d9 solid;
  padding: 20px;
  resize: none;
  font-size: 18px;

  &:focus {
    outline: none;
    border: 1px solid var(--color-purple-primary-default);
  }
}

.textarea-icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 60px;
  left: 70px;
  right: 70px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.height-width-40 {
  height: 40px;
  width: 40px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.gap-10 {
  gap: 10px;
}

.center {
  justify-content: center;
  align-items: center;
}

.radius-30 {
  border-radius: 30px;
}

.align-center {
  align-items: center;
}

.padding-3-10 {
  padding: 3px 10px;
}

.number-hover {
  &:hover {
    color: var(--color-purple-secondary-hover);
  }
}

.hover {
  &:hover {
    cursor: pointer;
    background-color: var(--color-blue-bg);
  }
}
.members-menu{
  @include arrangement();
  border-radius: 30px;
  height: 40px;
  width: 40px;
  background-color: #eceefe;
}
.change-image-on-hover {

  cursor: pointer;
  &:hover {
    > :first-child {
      display: none;
    }

    > :last-child {
      display: flex;
      cursor: pointer;
    }
  }
}

.margin-left-minus-10 {
  margin-left: -10px;
}

.b-grey-circle {
  background-color: #eceefe;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.grey-screen {
  height: 100vh;
  width: 100vw;
  inset: 0;
  background-color: var(--color-grey-primary-overlay);
  position: absolute;
  z-index: 5;
}
