@import "./../../../../styles.scss";

section {
  background-color: var(--color-white);
  height: calc(100vh - 130px);
}

header {
  padding: 25px 45px 25px 45px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 10px -10px;
}

h3 {
  margin: 0;
}

.header-chat-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px 6px 10px;
  border-radius: 30px;
  >button {
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    font-size: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #eceefe;

    >h3 {
      color: var(--color-purple-primary-default);
    }

    >button {
      :first-child {
        display: none;
      }

      :last-child {
        display: flex;
      }
    }
  }
}

.user-icon {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  border: 2px solid var(--color-white);
}

.count {
  font-weight: 600;
  font-size: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 25px;
  height: calc(100% - 94px);
}

.height-normal-header {
  height: calc(100% - 94px);
}

.height-new-message {
  height: calc(100% - 160px);
}

.chat {
  width: 100%;
  height: 100%;
  // padding: 0 35px;
  box-sizing: border-box;
  @include arrangement($jc:end, $fd:column)
}

.input-container {
  position: relative;
  padding: 0 50px 40px 50px;
  display: flex;
  flex-direction: column;
}

textarea {
  height: 145px;
  border-radius: 20px;
  border: 1px #adb0d9 solid;
  padding: 20px;
  resize: none;
  font-size: 18px;

  &:focus {
    outline: none;
    border: 1px solid var(--color-purple-primary-default);
  }
}

.textarea-icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 60px;
  left: 70px;
  right: 70px;

  >div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.height-width-40 {
  height: 40px;
  width: 40px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.gap-10 {
  gap: 10px;
}

.center {
  justify-content: center;
  align-items: center;
}

.radius-30 {
  border-radius: 30px;
}

.align-center {
  align-items: center;
}

.padding-3-10 {
  padding: 3px 10px;
}

.number-hover {
  &:hover {
    color: var(--color-purple-secondary-hover);
  }
}

.hover {
  &:hover {
    cursor: pointer;
    background-color: var(--color-blue-bg);
  }
}

.change-image-on-hover {
  &:hover {
    > :first-child {
      display: none;
    }

    > :last-child {
      display: flex;
      cursor: pointer;
    }
  }
}

.margin-left-minus-10 {
  margin-left: -10px;
}

.b-grey-circle {
  background-color: #eceefe;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}