@import "./../../../../styles.scss";

section {
  background-color: var(--color-white);
  height: calc(100vh - 130px);
  border-radius: 30px;

  @media(max-width: 1600px) {
    margin-right: 20px;
  }

  @media (max-width: 800px) {
    height: calc(100vh - 100px);
  }
}

h3 {
  margin: 0;
}

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}

.chat-icons {
  @include arrangement();
  height: 40px;
  width: 40px;
  border-radius: 30px;

  &:hover {
    cursor: pointer;
    background-color: var(--color-blue-bg);
  }

  @media (max-width: 800px) {}
}

.height-new-message {
  height: calc(100% - 160px);
}

.input-container {
  position: relative;
  padding: 0 50px 40px 50px;
  margin-top: 25px;
  @include arrangement($ai: normal, $jc: normal, $fd: column);

  @media (max-width: 800px) {
    padding: 0 16px 30px 16px;
  }
}

textarea {
  height: 145px;
  border-radius: 20px;
  border: 1px #adb0d9 solid;
  padding: 20px;
  resize: none;
  font-size: 18px;

  &:focus {
    outline: none;
    border: 1px solid var(--color-purple-primary-default);
  }
}

.textarea-icon-bar {
  @include arrangement($jc: space-between);
  position: absolute;
  bottom: 60px;
  left: 70px;
  right: 70px;

  >div {
    @include arrangement();
  }

  @media (max-width: 800px) {
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
}

.height-width-40 {
  height: 40px;
  width: 40px;
}

.d-none {
  display: none;
}

.change-image-on-hover {
  cursor: pointer;

  &:hover {
    > :first-child {
      display: none;
    }

    > :last-child {
      display: flex;
      cursor: pointer;
    }
  }
}

.margin-right-20 {
  margin-right: 20px;
}