.input-field {
    @include arrangement($d: flex, $jc: space-between, $ai: center);
    background-color: var(--color-blue-bg);
    color: var(--color-grey-primary-disable);
    padding: 18px 32px;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid transparent;
    width: calc(100% - 64px);

    &:hover {
        border: 1px solid var(--color-grey-primary-disable);
      }

    &.input-field-focused, &.input-field-valid {
        border: 1px solid var(--color-purple-secondary-hover);
    }
    
    input{
        width: calc(100% - 64px);
        background-color: var(--color-blue-bg);
        border: none;
        cursor: pointer;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        &:focus{
            outline: none;
            box-shadow: none;

            &::placeholder {
                opacity: 0;
            }
        }
        outline: none;

        @media (max-width: 320px) {
            font-size: 15px;
            width: 100%;
        }
    }

    @media (max-width: 700px) {
        padding: 16px 28px;
        width: calc(100% - 56px);
    }

    @media (max-width: 320px) {
        justify-content: start;
        padding: 8px 16px;
        width: calc(100% - 32px);
    }
}

