@import "../../../../templates/mixins.scss";

.arrow-back {
  cursor: pointer;
  padding: 8px;
  border-radius: 100px;

  &:hover {
    background-color: var(--color-blue-bg);
    scale: 1.1;
    path {
      fill: var(--color-purple-secondary-hover);
    }
  }
}

h2 {
  color: var(--color-purple-primary-default);
  margin-top: 0;
  width: 100%;
  text-align: center;
}

.mat-mdc-card {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: column);
  width: 550px;
}

.mat-mdc-card-content {
  padding: 36px !important;
}

.mat-mdc-card-header {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: column);
  padding: 0;

  span {
    text-align: center;
    font-size: 20px;
    margin-bottom: 36px;
  }
}

.header-content {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: row);
  margin-bottom: 36px;
  width: 100%;
}

.input-container{
  @include arrangement($d: flex, $jc: start, $ai: start, $fd: column);
  margin-bottom: 36px;
  width: 100%;

  .input-field {
    margin-bottom: 8px;
  }

  span{
    color: var(--color-purple-error);
    font-size: 14px;
  }
}

.mat-mdc-checkbox {
  color: #42526e;
  font-size: 16px;
  padding: 0px 4px 4px;
}

.privacy-policy-container{
  @include arrangement($d: flex, $jc: start, $ai: center, $fd: row);
  gap: 8px;
  margin-bottom: 36px;

  &:hover{
    .mat-mdc-checkbox{
      background-color: var(--color-blue-bg);
      color: var(--color-purple-primary-default);
      border-radius: 100px;
    }
  }

  a {
    cursor: pointer;
    color: var(--color-purple-primary-disabled);

    &:hover{
      background-color: var(--color-blue-bg);
      color: var(--color-purple-primary-default);
      border-radius: 100px;
      padding: 0 4px;
    }
  }
}

.button-container {
  @include arrangement($d: flex, $jc: end, $ai: end, $fd: column);

  input {
    font-size: 18px;
  }
}

h3 {
  color: var(--color-purple-primary-default);
  margin-top: 0;
  margin-bottom: 36px;
}