<div class="app-wrapper">
    <mat-card>

        <mat-card-content>
            <mat-card-header>

                <div class="header-content">
                    <img class="arrow-back" src="/img/public/arrow-back.svg" alt="back" />
                    <h2>Konto erstellen</h2>
                </div>
                <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
            </mat-card-header>

            <div>
                <div class="input-field">
                    <img src="/img/public/profile.svg" alt="back" />
                    <input [(ngModel)]="name" type="text" placeholder="Name und Nachname">
                </div>

                <div class="input-field">
                    <img src="/img/public/mail.svg" alt="back" />
                    <input [(ngModel)]="mail" type="text" placeholder="beispielname@email.com">
                </div>

                <div class="input-field">
                    <img src="/img/public/password-lock.svg" alt="back" />
                    <input [(ngModel)]="password" type="text" placeholder="Passwort">
                </div>

                <mat-checkbox class="example-margin"></mat-checkbox>
                <span>Ich stimme der <a>Datenschutzerklärung</a> zu.</span>
            </div>

            <div class="button-container">
                <button class="btn-primary--default">Weiter</button>
            </div>

        </mat-card-content>

    </mat-card>


</div>