<div class="main-content">
    <mat-card>
    
        <mat-card-content>
            <mat-card-header> 
                <img src="../../../../assets/img/public/arrow-back.svg" class="">

                <div class="header-content">
                    <h2>Konto erstellen</h2>
                    <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
                </div>
            </mat-card-header>
            
            <div class="form-container">
                
            </div>
    
        </mat-card-content>
    
    </mat-card>
    
    
    </div>