@import './../../../styles.scss';

section {
    display: flex;
    flex-direction: column;
}

.devspace-container {
    display: flex;
    padding: 0px 20px 25px 20px;
    gap: 20px;
}

app-workspace-menu-close-button {
    position: absolute;
    left: 0;
    bottom: 127px;
    z-index: 1;
}

app-chat {
    width: 100%;
}

app-user-profile {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.d-none {
    display: none;
}