<app-header></app-header>
<div class="devspace-container">
  <app-workspace-menu *ngIf="workspaceMenuIsVisible" [@toggleWorkspaceMenu]="workspaceMenuState"
    (callParent)="toggleCreateChannelOverlay()" (newMessage)="openNewMessage()"></app-workspace-menu>
  <app-workspace-menu-close-button (callParent)="toggleWorkspaceMenu()"></app-workspace-menu-close-button>
  <app-chat></app-chat>
  <app-thread *ngIf="threadIsVisible" [@toggleThread]="threadMenuState" (callParent)="closeThread()"></app-thread>
</div>
<app-create-channel *ngIf="showCreateChannelOverlay"
  (callParentToClose)="toggleCreateChannelOverlay()"></app-create-channel>