@import "./templates/styles/button.scss";
@import "./templates/mixins.scss";
@import "./templates/input.scss";

:root {
  --color-black: black;
  --color-black-shadow: rgba(0, 0, 0, 0.2);

  --color-white: white;

  --color-blue-bg: #eceefe; //background color
  --color-blue-border: #adb0d9;
  --color-purple-primary-default: #444df2; //Purple color for header
  --color-purple-primary-disabled: #797ef3; //Purple color if text is disabled/grayed out
  --color-purple-secondary-hover: #535af1; //Hover over black text
  --color-transparent: rgba(255, 255, 255, 0);
  --color-grey-bar: #d9d9d9;
  --color-grey-hover: #e6e6e6;
  --color-grey-primary-disable: #686868;
  --color-grey-primary-overlay: rgba(104, 104, 104, 0.5);

  --color-green: #92c83e; //Green color for online status
  --color-purple-error: #ed1e79; //Purple color for offline status

  --mdc-elevated-card-container-shape: 30px; //Material Design Card Shape
  --mdc-elevated-card-container-color: white; //Material Design Card Color
  --mdc-elevated-card-container-elevation: 0 2px 10px #00000014; //Material Design Card Elevation
}

/* nunito-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v26-latin/nunito-v26-latin-regular.woff2")
    format("woff2");
}

/* nunito-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/nunito-v26-latin/nunito-v26-latin-500.woff2")
    format("woff2");
}

/* nunito-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v26-latin/nunito-v26-latin-700.woff2")
    format("woff2");
}

/* nunito-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/nunito-v26-latin/nunito-v26-latin-800.woff2")
    format("woff2");
}

* {
  margin: 0;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--color-blue-bg);
}

h2 {
  font-size: 46px;
  font-weight: 700;
  color: var(--color-purple-primary-default);
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.app-wrapper {
  @include arrangement($d: flex, $jc: center, $ai: center, $fd: column);
  height: 100%;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate="true"]
  )
  ~ .mdc-checkbox__background {
  border-color: var(--color-purple-primary-disabled) !important;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled:focus:checked
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control:enabled:focus:indeterminate
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  border-color: var(--color-purple-primary-default) !important;
}

.mdc-checkbox__checkmark {
  color: var(--color-purple-primary-default) !important;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  right: 50px !important;
  background-color: white;
  top: 100px !important;
  height: 181px !important;
  width: 282px !important;
  border-radius: 30px 0px 30px 30px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  z-index: 11;
}

.mat-mdc-menu-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mat-mdc-menu-item {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 10px 45px 10px 45px;

  &:hover {
    cursor: pointer;
    color: var(--color-purple-secondary-hover);
    background-color: var(--color-blue-bg) !important;
    border-radius: 100px;
  }
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 999;
}

.btn-glass--default {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  &:hover {
    font-weight: 500;
  }
}