@import './../../../styles.scss';

section{
    @include arrangement($fd:column, $jc:space-around);
    height: 100vh;
}

.arrow-back {
    cursor: pointer;
    padding: 8px;
    border-radius: 100px;
    path {
      fill: var(--color-black);
    }
  
    &:hover {
      background-color: var(--color-blue-bg);
      scale: 1.1;
      path {
        fill: var(--color-purple-secondary-hover);
      }
    }
  }