@import "./../../../../../styles.scss";

@mixin fontStyle($fs: 18px, $fw: 400) {
    font-size: $fs;
    font-weight: $fw;
}

mat-card {
    border-radius: 30px;
    width: 500px;
    padding: 40px;
    @include arrangement($fd: column, $g: 45px, $ai: normal);
}

mat-card-header {
    @include arrangement($jc: space-between);
    padding: 0;
}

mat-card-title {
    @include fontStyle($fs: 24px, $fw: 700);
}

mat-card-content {
    @include arrangement($fd: column, $g: 45px, $jc: normal, $ai: normal);
    padding: 0px;
}

mat-card-footer {
    @include arrangement();

    >button {
        @include arrangement($g: 10px);

        >img {
            height: 24px;
            width: 24px;
        }

        >span {
            @include fontStyle($fw: 700);
        }
    }
}

.card-image-container {
    @include arrangement();

    >img {
        height: 200px;
        width: 200px;
    }
}

.card-header-image {
    height: 40px;
    width: 40px;
    @include arrangement();

    &:hover {
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--color-blue-bg);

        >:first-child {
            display: none;
        }

        >:last-child {
            display: flex;
            cursor: pointer;
        }
    }
}

.middle-container-upper {
    @include fontStyle($fs: 32px, $fw: 700);
    @include arrangement($fd: column, $ai: flex-start, $g: 15px);

    >div {
        @include arrangement($g: 15px);
    }
}

.middle-container-lower {
    @include arrangement($g: 20px, $jc: normal, $ai: normal);

    >img {
        height: 30px;
        width: 30px;
    }

    >div {
        @include arrangement($fd: column, $ai: flex-start);

        >span {
            @include fontStyle($fs: 20px, $fw: 700);
        }

        >a {
            text-decoration: none;
            color: #1381FF;
            @include fontStyle($fs: 18px);
        }
    }
}

.active-circle {
    height: 16px;
    width: 16px;
    border-radius: 30px;
    background-color: var(--color-green);
}

.active-font {
    color: var(--color-green);
    @include fontStyle($fs: 20px);
}