@import './../../../../styles.scss';

.emoji-container {
@include arrangement($d: flex, $jc: space-between, $ai: left, $fd: row, $g: 0);
flex-wrap: wrap;
}

button {
    font-size: 18px;
    height: 40px;
    width: 40px;
    border: unset;
    border-radius: 50%;
    transition: all 75ms;
    background-color: unset;
    cursor: pointer;

}

.mat-mdc-card {
    border-bottom-left-radius: 0;
}