@import "./../../../../../styles.scss";

@mixin fontStyle($fs: 18px, $fw: 400) {
  font-size: $fs;
  font-weight: $fw;
}

.chat-feed {
  @include arrangement($fd: column, $g: 20px, $ai: start);
}

.chat-date {
  @include arrangement();
  position: relative;
  width: 100%;

  .line {
    width: 100%;
    height: 1px;
    background-color: var(--color-blue-border);
    position: absolute;
  }

  .chat-date_create {
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px solid var(--color-blue-border);
    background-color: white;
    z-index: 3;
  }
}

.chat-content {
  transition: background-color 0.1s ease;
  padding: 10px 0px;
  box-sizing: border-box;
  width: 100%;
  position: relative;

  &--primary {
    @extend .chat-content;
    @include arrangement($jc: normal, $g: 20px, $fd: column, $ai: start);
    padding: 10px 40px;

    > div {
      @include arrangement($jc: flex-start, $g: 20px);
    }

    &:hover {
      background-color: var(--color-blue-bg);

      .chat-content_message {
        background-color: var(--color-white);
      }
    }
  }

  &--secondary {
    @extend .chat-content;
    @include arrangement($jc: normal, $g: 20px, $fd: column, $ai: end);
    padding: 10px 40px;

    .row-reverse {
      @include arrangement($jc: flex-start, $g: 20px, $fd: row-reverse);
    }

    &:hover {
      background-color: var(--color-blue-bg);
    }

    .chat-content_header {
      flex-direction: row-reverse;
    }
    .chat-content_reaction{
      flex-direction: unset;
      left: 0;
      right: unset
    }
  }
}

.chat-content_reaction{
  position: absolute;
  right: 0;
  display: flex;
  border: 1px solid var(--color-purple-primary-disabled);
  padding: 3px 15px;
  border-radius: 25px 25px 0 25px;
  background-color: white;
  >button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px;
    &:hover{
      border-radius: 50%;
      background-color: #ECEEFE;
      box-sizing: border-box;
    }
  }
}

.chat-content_header {
  @include arrangement($jc: flex-start, $g: 20px);

  > :first-child {
    @include fontStyle($fw: 700);
  }

  > :last-child {
    color: var(--color-grey-primary-disable);
    @include fontStyle($fs: 14px);
  }
}

.chat-content_message {
  padding: 15px;
  @include fontStyle();
  transition: background-color 0.1s ease;

  &--primary {
    @extend.chat-content_message;
    background-color: var(--color-blue-bg);
    border-radius: 0px 20px 20px 20px;
  }

  &--secondary {
    @extend.chat-content_message;
    background-color: var(--color-purple-primary-disabled);
    color: white;
    border-radius: 20px 0px 20px 20px;
  }
}

.chat-content_conversation {
  @include arrangement($fd: column, $jc: flex-start, $g: 8px);
}



.chat-content_conversation_reacts {
  color: var(--color-purple-secondary-hover);
  font-size: 18px;
}

.chat-content_conversation_last-react {
  color: var(--color-grey-primary-disable);
  font-size: 14px;
}

.all-chat-container {
  width: 100%;
  overflow-y: auto;
  max-height: 100%; // Adjust this value as needed
  position: relative;
}

.new-message {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  > button {
    background-color: white;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    animation: newMessage 4s infinite forwards ease-in-out;
  }
}

@keyframes newMessage {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: var(--color-purple-primary-disabled);
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
