@import './../../../../../styles.scss';
@import './../../../../../templates/input.scss';
@import './../../../../../templates/styles/button.scss';

@mixin fontStyle($fs: 18px, $fw: 400) {
    font-size: $fs;
    font-weight: $fw;
}

img {
    height: 70px;
    width: 70px;
    padding-left: 40px;
}

.thread-content--primary {
    @include arrangement($jc: normal, $g: 20px);
}

.chat-content_conversation {
    @include arrangement($ai: normal, $fd: column, $g: 8px);
}

.chat-content_header {
    @include arrangement($jc: flex-start, $g: 20px);

    >:first-child {
        @include fontStyle($fw: 700);
    }

    >:last-child {
        color: var(--color-grey-primary-disable);
        @include fontStyle($fs: 14px);
    }
}

.chat-content_conversation--primary {
    background-color: var(--color-blue-bg);
    border-radius: 0px 20px 20px 20px;
    padding: 15px;
    @include fontStyle();
}