<div *ngFor="let message of messages$ | async" class="thread-content--primary">
    <img src="img/general-view/create-avatar/avatar1.svg" alt="avatar" />
    <div class="thread-content_conversation" (mouseenter)="hoveredMessageId = message.id" (mouseleave)="hoveredMessageId = null">
        <div class="thread-content_header">
            <span>{{ message.sender }}</span>
            <span>{{ message.formattedDate }}</span>
        </div>
        <span class="thread-content_conversation--primary">
            <p>{{ message.content }}</p>
        </span>
        <app-reactions [message]="message" [hoveredMessageId]="hoveredMessageId"></app-reactions>
    </div>
</div>