<div *ngFor="let message of messages$ | async" class="chat-content" (mouseleave)="showPicker = false">
    <div class="chat-content--{{ checkStyle(message.userId) }}" (mouseenter)="hoveredMessageId = message.id" (mouseleave)="hoveredMessageId = null">
        <div class="row-reverse">
        <img src="{{ message.avatar }}" alt="avatar" />
        <div class="chat-content_conversation">
        <div class="chat-content_header">
            <span>{{ message.sender }}</span>
            <span>{{ message.formattedDate }}</span>
        </div>
        <span class="chat-content_message--{{ checkStyle(message.userId) }}">
            <p>{{ message.content }}</p>
        </span>
        </div>
    </div>
        <div class="chat-content_reaction" *ngIf="hoveredMessageId === message.id">
            <button (click)="showPicker = !showPicker"><img src="img/general-view/chat/add_reaction.svg"
                alt="check"></button>
            <app-emoji-picker *ngIf="showPicker" (mouseleave)="showPicker = false" (click)="$event.preventDefault()"
              (emojiSelected)="sendReaction($event, message.id)"></app-emoji-picker>
        </div>
        <app-reactions [message]="message" [hoveredMessageId]="hoveredMessageId"></app-reactions>
    </div>
</div>