<div class="app-wrapper">
    <app-header-section></app-header-section>
    <div>
        <mat-card>
            <mat-card-content>
                <mat-card-header>
                    <a class="arrow-back" [routerLink]="['/']"><img src="/img/public/arrow-back.svg" alt="back" /></a>
                </mat-card-header>
                <h2>Impressum</h2>
                <h3>Schüler:</h3>
                <ul>
                    <li>Alexander Dause</li>
                    <li>Isabell Ditterle</li>
                    <li>Philipp Lötzsch</li>
                    <li>Stefan Kondratschin</li>
                    <li>Sven Rösgen</li>
                </ul>
                <h3>Adresse:</h3>
                <div>
                    <p>Tassilopl. 25</p>
                    <p>81541 München</p>
                </div>
                <h3>Contact:</h3>
                <p>Email: <a href="mailto:contact@dabubble.com">info&#64;developerakademie.com</a></p>
            </mat-card-content>
        </mat-card>
    </div>
</div>