<div class="app-wrapper">
    <mat-card>

        <mat-card-content>
            <mat-card-header>

                <img (click)="navigateTo('log-in')" class="arrow-back" src="/img/public/arrow-back.svg" alt="back" />

            </mat-card-header>
            <h2>Impressum</h2>
            <h3>Schüler:</h3>
            <ul>
                <li>Alexander</li>
                <li>Isabell</li>
                <li>Philipp</li>
                <li>Stefan</li>
                <li>Sven</li>
            </ul>
            <h3>Adresse:</h3>
            <div>
                <p>Straßenname 3</p>
                <p>12345 Stadt</p>
            </div>
            <!-- <mat-card-footer> -->
            <h3>Contact:</h3>
            <p>Email: <a href="mailto:contact@dabubble.com">contact&#64;dabubble385.com</a></p>
            <!-- </mat-card-footer> -->

        </mat-card-content>

    </mat-card>


</div>