@import '../../../templates/mixins.scss';
@import '../landing-page/sign-in/sign-in.component.scss';
@import "../landing-page/landing-page.component.scss";


.mdc-card {
    align-items: start;
    padding: 48px 56px 48px 56px;

    @media(max-width: 420px) {
        padding: 24px 28px;
        margin: 0;
    }
}

.mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    padding: 0 !important;
}

.mat-mdc-card-header {
    align-items: start;
}

h2 {
    text-align: left;
}

h3 {
    margin-bottom: 0;
}

.app-wrapper {
    >div {
        width: 100vw;
        height: calc(100vh - 109px);
        @include arrangement();

        @media(max-width: 420px) {
            height: 100%;
            width: auto;
            padding: 15px;
            overflow: scroll;
            align-items: flex-start;
        }
    }
}