@import '../../../templates/mixins.scss';
@import '../landing-page/sign-in/sign-in.component.scss';


.mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.mat-mdc-card-header {
  align-items: start;
}

h2{
    text-align: left;
}

h3{
    margin-bottom: 0;
}