<section>
  <div>
    <div class="members-list-container">
      <ng-container *ngIf="memberList.length > 0; else noMembers">
          <div 
            class="member" 
            *ngFor="let member of memberList" 
            (click)="selectMember(member)"
            [ngClass]="{'disable-div': member.selected}">
            <img [src]="member.avatar">
            <span>{{ member.username }}</span>
          </div>
      </ng-container>
      
      <ng-template #noMembers>
        <div class="no-members">
          <p>Keine Mitglieder gefunden.</p>
        </div>
      </ng-template>
    </div>
  </div>
</section>

