<section>
    <div>
      <div class="members-list-container">
        <div *ngIf="memberList.length > 0; else noMembers">
          <div class="members-list" *ngFor="let member of memberList">
            <div class="member">
              <img [src]="'/img/general-view/create-avatar/' + member.avatar + '.svg'" />
              <span>{{ member.username }}</span>
            </div>
          </div>
        </div>
        
        <ng-template #noMembers>
          <div class="no-members">
            <p>Keine Mitglieder gefunden.</p>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
  