@import './../../../../../../styles.scss';


header {
    @include arrangement($jc: space-between);

    >h3 {
        margin: 0;
    }
}

.close-button {
    @include arrangement();
    height: 40px;
    width: 40px;

    &:hover {
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--color-blue-bg);

        :first-child {
            display: none;
        }

        :last-child {
            display: flex;
        }
    }
}

.members-list-container {
    @include arrangement($fd: column, $ai: flex-start, $jc: normal, $g: 15px);
    max-height: 300px;
    overflow-y: scroll;
}

.members-list {
    @include arrangement($fd: column, $ai: flex-start, $jc: normal);
}

.member {
    @include arrangement($jc: normal, $g: 15px);
    height: 58px;
    padding: 4px 20px;

    >img {
        height: 50px;
        width: 50px;
        border-radius: 30px;
    }

    >span {
        font-size: 18px;
    }
}

button {
    @include arrangement($jc: normal, $g: 15px);
    padding: 12px 29px;
    background-color: transparent;
    border-radius: 30px;
    border: none;

    >img {
        height: 32px;
        width: 32px;
        border-radius: 20px;
        background-color: var(--color-blue-bg);
        object-fit: none;
    }

    >span {
        font-size: 18px;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--color-blue-bg);
    }
}

.d-none {
    display: none;
}