<app-user-info-card *ngIf="userDataService.showUserInfoCard"></app-user-info-card>
<header>
  <h3>Mitglieder</h3>
  <div class="close-button" (click)="closeChannelMembersMenu()">
    <img src="/img/general-view/workspace-menu/close.svg" />
    <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg" />
  </div>
</header>
<div class="members-list-container">
  <div class="members-list">
    <div *ngFor="let user of allUsers" class="member" (click)="openProfileInfoCard(user.id)">
      <img src="{{ user.avatar }}" />
      <span>{{ user.username }} <span *ngIf="currentUserId == user.id">(Du)</span></span>
    </div>
  </div>
  <button (click)="openAddMembersMenu()">
    <img src="/img/general-view/workspace-menu/add_person.svg" />
    <span>Mitglieder hinzufügen</span>
  </button>
</div>