@import './../../../../../../styles.scss';

@mixin fontStyle($fs: 18px, $fw: 700) {
    font-size: $fs;
    font-weight: $fw;
}

header {
    @include arrangement($jc: space-between);

    @media (max-width: $mobile-breakpoint) {
        box-shadow: 0px 2px 10px -10px;
        padding: 40px 16px 10px 16px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
    }
}

.header-headline {
    @include arrangement($ai: normal, $jc: normal, $g: 20px);

    @media(max-width: $mobile-breakpoint) {
        gap: 5px;
    }
}

h3 {
    margin: 0;
}

h5 {
    margin: 0;
    @include fontStyle();
}

.channel-name-info {
    @include arrangement($g: 20px, $ai: normal, $jc: normal, $fd: column);

    &--container {
        @extend .channel-name-info;
        border: 1px solid var(--color-blue-border);
        border-radius: 30px;
        margin: 0 !important;
    }

    @media(max-width: $mobile-breakpoint) {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 110px;
    }
}

.channel-name {
    @include arrangement($fd: column, $ai: normal, $jc: normal, $g: 20px);

    :first-child {
        @include arrangement($ai: normal, $jc: space-between);
    }

    :last-child {
        @include arrangement($jc: normal);
    }

    &--padding {
        @extend .channel-name;
        padding: 20px;

        :last-child {
            @include arrangement($ai: normal, $jc: normal, $g: 10px);
        }
    }

    &--edit {
        @extend .channel-name;

        :first-child {
            padding-right: 20px;
        }
    }
}

.channel-name_btn {
    @include fontStyle($fw: 400);
    color: var(--color-purple-secondary-hover);
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        color: var(--color-purple-primary-default);
        @include fontStyle($fw: 700);
        transition: all 0.15s;
    }

    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}

.overlap-children {
    :first-child {
        position: relative;
        z-index: 1;
        padding-left: 20px;
    }

    :last-child {
        margin-left: -50px;
        padding-left: 50px;
    }
}

.input-image-container {
    display: flex;

    >img {
        position: relative;
        z-index: 1;
    }

    >input {
        margin-left: -20px;
    }
}

.fs18 {
    font-size: 18px;
}

::placeholder {
    @include fontStyle($fw: 400);
}

.input-field {
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-border);
    @include fontStyle($fw: 400);

    &:hover {
        border: 1px solid var(--color-purple-primary-disabled);
    }

    &:focus {
        border: 1px solid var(--color-purple-secondary-hover);
        outline: none;
    }
}

.leave-channel-button-container {
    @include arrangement($jc: flex-end, $ai: normal);

    @media(max-width: $mobile-breakpoint) {
        margin-right: 16px;
        margin-bottom: 20px;
    }
}

.btn-primary {
    @include fontStyle();
}

.img-container {
    height: 40px;
    width: 40px;
    @include arrangement();

    &:hover {
        border-radius: 30px;
        background-color: var(--color-blue-bg);
    }

    &--mobile {
        height: 30px;
        width: 30px;
        display: none !important;

        @media(max-width: $mobile-breakpoint) {
            display: flex !important;
        }

        :last-child {
            display: none;
        }
    }
}

.no-btn-style {
    border: none;
    background-color: transparent;
}

.change-image-on-hover {
    &:hover {
        cursor: pointer;

        >:first-child {
            display: none;
        }

        >:last-child {
            display: flex;
            cursor: pointer;
        }
    }
}

.description-container {
    @include arrangement($g: 30px, $fd: column, $ai: normal, $jc: normal);

    &--primary {
        @extend .description-container;
        padding: 20px;
        border: 1px solid var(--color-blue-border);
        border-radius: 20px;
    }
}

.description-info-container {
    @include arrangement($fd: column, $g: 20px, $ai: normal, $jc: normal);

    >div {
        @include arrangement($jc: space-between, $ai: normal);
    }

    >p {
        @include fontStyle($fw: 400);
    }
}

.owner-info {
    @include arrangement($g: 20px, $fd: column, $ai: normal, $jc: normal);

    >span {
        @include fontStyle($fs: 24px, $fw: 400);
        color: var(--color-purple-secondary-hover);
    }
}

.channel-members-info {
    display: none;
    padding: 20px;
    border: 1px solid var(--color-blue-border);
    border-radius: 20px;

    @media(max-width: $mobile-breakpoint) {
        display: flex;
    }
}

.separator {
    border: 1px solid var(--color-blue-border);
}

.d-none {
    display: none;
}