@import './../../../../../../styles.scss';

@mixin fontStyle($fs: 18px, $fw: 700) {
    font-size: $fs;
    font-weight: $fw;
}

.font-size--18--700 {
    @include fontStyle();
}

header {
    @include arrangement($jc: space-between);
}

.header-headline {
    @include arrangement($ai: normal, $jc: normal, $g: 20px);
}

h3 {
    margin: 0;
}

.channel-name-info-container {
    @include arrangement($fd: column, $ai: normal, $jc: normal, $g: 20px);
    border: 1px solid var(--color-blue-border);
    border-radius: 30px;
}

.channel-name-container {
    @include arrangement($fd: column, $ai: normal, $jc: normal, $g: 20px);
    padding: 20px;

    :first-child {
        @include arrangement($ai: normal, $jc: space-between);
    }

    :last-child {
        @include arrangement($ai: normal, $jc: normal, $g: 10px);
    }
}

.new-channel-name-container {
    @include arrangement($ai: normal, $jc: normal, $g: 20px, $fd: column);

    :first-child {
        @include arrangement($ai: normal, $jc: space-between);
        padding-right: 20px;
    }

    :last-child {
        @include arrangement($jc: normal);
    }
}

.margin-left-negative-50 {
    margin-left: -50px;
}

.z1 {
    position: relative;
    z-index: 1;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-50 {
    padding-left: 50px;
}

.input-image-container {
    display: flex;

    >img {
        position: relative;
        z-index: 1;
    }

    >input {
        margin-left: -20px;
    }
}

.fs18 {
    font-size: 18px;
}

.bold {
    font-weight: 700;
}

::placeholder {
    @include fontStyle($fw: 400);
}

.input-field {
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-border);
    @include fontStyle($fw: 400);

    &:hover {
        border: 1px solid var(--color-purple-primary-disabled);
    }

    &:focus {
        border: 1px solid var(--color-purple-secondary-hover);
        outline: none;
    }
}

.leave-channel-button-container {
    @include arrangement($jc: flex-end, $ai: normal);
}

.btn-primary {
    @include fontStyle();
}

.img-container {
    height: 40px;
    width: 40px;
    @include arrangement();

    &:hover {
        border-radius: 30px;
        background-color: var(--color-blue-bg);
    }
}

.change-image-on-hover {
    &:hover {
        cursor: pointer;

        >:first-child {
            display: none;
        }

        >:last-child {
            display: flex;
            cursor: pointer;
        }
    }
}

.purple {
    color: var(--color-purple-secondary-hover);
}

.hover {
    &:hover {
        cursor: pointer;
        color: var(--color-purple-primary-default);
        font-weight: 700;
        transition: all 0.15s;
    }
}

.description-container {
    @include arrangement($g: 30px, $fd: column, $ai: normal, $jc: normal);
    padding: 20px;
    border: 1px solid var(--color-blue-border);
    border-radius: 20px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.padding-right-20 {
    padding-right: 20px;
}

.fs24 {
    font-size: 24px;
}

.separator {
    border: 1px solid var(--color-blue-border);
}

.d-none {
    display: none;
}

.no-border {
    border: none;
}

.bgc-white {
    background-color: var(--color-white);
}

.no-padding-right {
    padding-right: 0;
}