<header>
  <div class="header-headline">
    <h3>#</h3>
    <h3>{{ chatService.currentChannelData?.channelName }}</h3>
  </div>
  <div class="img-container change-image-on-hover" (click)="closeChatDetails()">
    <img src="/img/general-view/workspace-menu/close.svg" />
    <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg" />
  </div>
</header>
<div id="input-form" class="channel-name-info">
  <div class="channel-name-info--container" *ngIf="showChannelName">
    <div class="channel-name--padding">
      <div>
        <h5>Channel-Name</h5>
        <button class="channel-name_btn" (click)="openNewChannelInput()">Bearbeiten</button>
        <div class="img-container--mobile change-image-on-hover" (click)="openNewChannelInput()">
          <img src="/img/general-view/header/mobile_edit.svg">
          <img src="/img/general-view/header/mobile_edit_hover.svg">
        </div>
      </div>
      <div>
        <h5>#</h5>
        <span class="fs18">{{ chatService.currentChannelData?.channelName }}</span>
      </div>
    </div>
  </div>
  <form class="channel-name--edit" *ngIf="showNewChannelNameForm" (ngSubmit)="submitNewName(form)" #form="ngForm"
    name="newName">
    <div>
      <h5>Channel-Name</h5>
      <button class="channel-name_btn" type="submit">
        Speichern
      </button>
      <button class="img-container--mobile no-btn-style change-image-on-hover" type="submit">
        <img src="/img/general-view/header/mobile_save.svg">
        <img src="/img/general-view/header/mobile_save_hover.svg">
      </button>
    </div>
    <div class="overlap-children">
      <h5>#</h5>
      <input class="input-field" placeholder="{{ chatService.currentChannelData?.channelName }}"
        [(ngModel)]="newChannelNameInput" name="newChannelNameInput" />
    </div>
  </form>
  <div class="description-container--primary" *ngIf="descriptionContainerVisible">
    <div class="description-info-container">
      <div>
        <h5>Beschreibung</h5>
        <button class="channel-name_btn" (click)="openDesciptionEdit()">Bearbeiten</button>
        <div class="img-container--mobile change-image-on-hover" (click)="openDesciptionEdit()">
          <img src="/img/general-view/header/mobile_edit.svg">
          <img src="/img/general-view/header/mobile_edit_hover.svg">
        </div>
      </div>
      <p>{{ chatService.currentChannelData?.description }}</p>
    </div>
    <span class="separator"></span>
    <div class="owner-info">
      <h5>Erstellt von</h5>
      <span>{{ chatService.currentChannelData?.owner }}</span>
    </div>
  </div>
  <div class="description-container" *ngIf="newDescriptionContainerVisible">
    <form (ngSubmit)="submitNewDescription(form)" #form="ngForm" name="newDescription" class="channel-name--edit">
      <div>
        <span class="fs18">Beschreibung</span>
        <button class="channel-name_btn" type="submit">
          Speichern
        </button>
        <button class="img-container--mobile no-btn-style change-image-on-hover" type="submit">
          <img src="/img/general-view/header/mobile_save.svg">
          <img src="/img/general-view/header/mobile_save_hover.svg">
        </button>
      </div>
      <input class="input-field" placeholder="Dein Text hier" [(ngModel)]="newDescriptionInput"
        name="newChannelDescriptionInput" />
    </form>
    <span class="separator"></span>
    <div class="owner-info">
      <h5>Erstellt von</h5>
      <span>{{ chatService.currentChannelData?.owner }}</span>
    </div>
  </div>
  <div class="channel-members-info">
    <!-- hier weiter -->
  </div>
</div>
<div class="leave-channel-button-container">
  <button class="btn-primary--default" (click)="leaveChannel()">Channel verlassen</button>
</div>