<header>
    <div id="grey-screen" class="grey-layer d-none" (click)="toggleGreyScreen()">
    </div>
    <div id="profile-info-container" class="profile-info-container d-none">
        <div class="profile-info-header">
            <h3 class="cursor-no-change">Profil</h3>
            <div class="change-image-on-hover pointer" (click)="closeProfileInfo()">
                <img src="/img/general-view/workspace-menu/close.svg">
                <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg">
            </div>
        </div>
        <div class="profile-info-image">
            <img src="/img/public/user_icon_male_2.svg">
        </div>
        <div class="profile-info-name-status">
            <div class="profile-info-name-status-upper">
                <span class="font-size-32 font-weight-700 cursor-no-change">Frederik Beck</span>
                <span class="font-size-18 font-weight-700 color-purple-with-hover"
                    (click)="openEditForm()">Bearbeiten</span>
            </div>
            <div class="d-flex align-center">
                <img class="active-circle">
                <span class="font-size-20 margin-left-15 color-active cursor-no-change">Aktiv</span>
            </div>
        </div>
        <div class="profile-mail-container">
            <div class="d-flex gap-20 align-center">
                <div class="height-30 width-30 d-flex align-center">
                    <img src="/img/public/mail-black.svg">
                </div>
                <span class="font-size-20 font-weight-700 cursor-no-change">E-Mail-Adresse</span>
            </div>
            <a class="cursor-no-change">example.testmail.com</a>
        </div>
    </div>
    <div id="edit-profile-container" class="edit-profile-container d-none">
        <div class="profile-info-header">
            <h3>Dein Profil bearbeiten</h3>
            <div class="change-image-on-hover pointer" (click)="closeEditForm()">
                <img src="/img/general-view/workspace-menu/close.svg">
                <img class="d-none" src="/img/general-view/workspace-menu/hover_close.svg">
            </div>
        </div>
        <div class="profile-info-image">
            <img src="/img/public/user_icon_male_2.svg">
        </div>
        <form class="d-flex column" onsubmit="x(); return false;">
            <div class="gap-8 d-flex column">
                <div class="d-flex align-center gap-20">
                    <div class="height-30 width-30 d-flex align-center">
                        <img class="height-100" src="/img/general-view/workspace-menu/person_circle.svg">
                    </div>
                    <span class="font-size-20 font-weight-700 cursor-no-change">Vollständiger Name</span>
                </div>
                <input class="input-field" placeholder="Frederik Beck" required>
            </div>
            <div class="gap-8 d-flex column">
                <div class="d-flex align-center gap-20">
                    <div class="height-30 width-30 d-flex align-center">
                        <img class="width-100 height-25" src="/img/public/mail-black.svg">
                    </div>
                    <span class="font-size-20 font-weight-700 cursor-no-change">E-Mail-Adresse</span>
                </div>
                <input class="input-field" placeholder="fred.beck@email.com" required>
            </div>
        </form>
        <div class="d-flex gap-45 justify-center">
            <button class="btn-secondary--default font-size-18 font-weight-700" (click)="closeEditForm()">Abbrechen</button>
            <button class="btn-primary--default font-size-18 font-weight-700" type="submit">Speichern</button>
        </div>
    </div>
    <div class="header-logo">
        <img src="/img/general-view/workspace-menu/Logo.svg">
        <h3 class="cursor-no-change">DABubble</h3>
    </div>
    <div class="bar-info-container">
        <div class="searchbar input-field">
            <input placeholder="Devspace durchsuchen">
            <button><img src="/img/general-view/workspace-menu/search.svg"></button>
        </div>
        <div class="account-info" (click)="toggleGreyScreen(); openDropdownMenu()">
            <span>Frederik Beck</span>
            <img src="/img/general-view/workspace-menu/person_circle.svg">
            <div class="dropdown">
                <button mat-button [matMenuTriggerFor]="menu" (click)="toggleGreyScreen()"
                    #menuTrigger="matMenuTrigger">
                    <img src="/img/general-view/workspace-menu/arrow_drop_down_thin.svg">
                    <img class="d-none" src="/img/general-view/workspace-menu/hover_arrow_drop_down_thin.svg">
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="showProfileInfo()">Profil</button>
                    <button mat-menu-item (click)="navigateTo('')">Log out</button>
                </mat-menu>
            </div>
        </div>
    </div>
</header>