<header>
    <div id="grey-screen" class="grey-layer d-none" (click)="toggleGreyScreen()">
        i am grey
    </div>
    <div class="header-logo">
        <img src="/img/general-view/workspace-menu/Logo.svg">
        <h3>DABubble</h3>
    </div>
    <div class="bar-info-container">
        <div class="searchbar input-field">
            <input placeholder="Devspace durchsuchen">
            <button><img src="/img/general-view/workspace-menu/search.svg"></button>
        </div>
        <div class="account-info">
            <span>Frederik Beck</span>
            <img src="/img/general-view/workspace-menu/person_circle.svg">
            <div class="dropdown">
                <button mat-button [matMenuTriggerFor]="menu" (click)="toggleGreyScreen()" #menuTrigger="matMenuTrigger">
                    <img src="/img/general-view/workspace-menu/arrow_drop_down_thin.svg">
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="toggleDisplayNone()">Profil</button>
                    <button mat-menu-item (click)="navigateTo('')">Log out</button>
                </mat-menu>
            </div>
        </div>
    </div>
</header>