@import './../../../../styles.scss';
@import './../../../../templates/input.scss';

.d-none {
    display: none;
}

header {
    padding: 25px 34px 20px 45px;
    display: flex;
    align-items: center;
    height: 70px;
    gap: 220px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;

    >img {
        height: 70px;
        width: 70px;
    }
}

.bar-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 6vw;
}

.searchbar {
    background-color: white;
    min-width: 560px; //eventuell anpassen

    >input {
        font-size: 24px;
        font-weight: 400;
        background-color: white;
    }

    >button {
        background-color: white;
        border: none;

        &:hover {
            cursor: pointer;
        }

        >img {
            height: 25px;
            width: 25px;
        }
    }
}

.account-info {
    height: 70px;
    display: flex;
    gap: 20px;
    align-items: center;

    >span {
        font-weight: 700;
        font-size: 32px;
        width: max-content;
        max-width: 250px;
        overflow: hidden;
    }

    >img {
        height: 70px;
        width: 70px;
    }

    &:hover {
        color: var(--color-purple-primary-disabled);
        cursor: pointer;
    }
}

.grey-layer {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}