@import './../../../../styles.scss';
@import './../../../../templates/input.scss';
@import './../../../../templates/styles/button.scss';

h3 {
    margin: 0;
}

header {
    padding: 25px 34px 20px 45px;
    display: flex;
    align-items: center;
    height: 70px;
    gap: 220px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;

    >img {
        height: 70px;
        width: 70px;
    }
}

.bar-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 6vw;
}

.searchbar {
    background-color: white;
    min-width: 560px; //eventuell anpassen

    >input {
        font-size: 24px;
        font-weight: 400;
        background-color: white;
    }

    >button {
        background-color: white;
        border: none;

        &:hover {
            cursor: pointer;
        }

        >img {
            height: 25px;
            width: 25px;
        }
    }
}

.account-info {
    height: 70px;
    display: flex;
    gap: 20px;
    align-items: center;

    >span {
        font-weight: 700;
        font-size: 32px;
        width: max-content;
        max-width: 250px;
        overflow: hidden;
    }

    >img {
        height: 70px;
        width: 70px;
    }

    &:hover {
        color: var(--color-purple-primary-disabled);
        cursor: pointer;
    }
}

.grey-layer {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.mdc-button {
    min-width: 30px;
}

.mat-mdc-menu-trigger {
    padding: 0;
}

.profile-info-container {
    width: 500px;
    position: absolute;
    top: 100px;
    right: 40px;
    border-radius: 30px 0px 30px 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    background-color: white;
    z-index: 11;
}

.profile-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: var(--color-blue-border);
            border-radius: 30px;
        }
    }
}

.profile-info-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;

    >img {
        width: 200px;
    }
}

.profile-info-name-status {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.profile-info-name-status-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-32 {
    font-size: 32px;
}

.font-weight-700 {
    font-weight: 700;
}

.margin-left-15 {
    margin-left: 15px;
}

.height-30 {
    height: 30px;
}

.width-30 {
    width: 30px;
}

.color-purple-with-hover {
    color: var(--color-purple-primary-disabled);

    &:hover {
        cursor: pointer;
        color: var(--color-purple-secondary-hover);
    }
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.active-circle {
    height: 16px;
    width: 16px;
    border-radius: 30px;
    background-color: var(--color-green);
}

.profile-mail-container {
    >a {
        margin-left: 50px;
        text-decoration: none;
        color: #1381FF;
    }
}

.edit-profile-container {
    width: 500px;
    position: absolute;
    top: 100px;
    right: 40px;
    border-radius: 30px 0px 30px 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    background-color: white;
    z-index: 11;
}

.color-active {
    color: var(--color-green);
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

.change-image-on-hover {
    &:hover {
        >:first-child {
            display: none;
        }

        >:last-child {
            display: flex;
        }
    }
}

.gap-20 {
    gap: 20px;
}

.gap-8 {
    gap: 8px;
}

.gap-45 {
    gap: 45px;
}

.input-field {
    background-color: white;
    border: 1px solid var(--color-blue-border);
    font-size: 18px;

    &:hover {
        border: 1px solid var(--color-purple-primary-disabled);
    }

    &:focus {
        border: 1px solid var(--color-purple-secondary-hover);
    }
}

::placeholder {
    font-size: 18px;
    font-weight: 400;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.column {
    flex-direction: column;
}

form {
    gap: 20px;
}

.height-25 {
    height: 25px;
}

.justify-center {
    justify-content: center;
}