@import "../../../templates/mixins.scss";
@import "../landing-page/sign-in/sign-in.component.scss";
@import "../landing-page/landing-page.component.scss";

.mat-mdc-card {
  max-height: 80%;
  margin: auto;
  padding: 36px;
  hyphens: auto;

  @media (max-width: 450px) {
    max-width: 300px;
    overflow-wrap: break-word;
    padding: 16px;
  }
}

.mat-mdc-card-content {
  @include arrangement($d: flex, $jc: start, $ai: start, $fd: column, $g: 16px);
  overflow-x: hidden;
  overflow-y: auto;
}

.mat-mdc-card-content::-webkit-scrollbar {
  /* Styles the overall scrollbar */
  width: 7px; /* Adjust the width of the scrollbar */
}

.mat-mdc-card-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

.mat-mdc-card-content::-webkit-scrollbar-thumb {
  background: var(--color-purple-secondary-hover);
  border-radius: 30px;
}

.mat-mdc-card-content::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple-primary-disabled);
}

.mat-mdc-card-header {
  @include arrangement($d: flex, $jc: start, $ai: start, $fd: row, $g: 0);
  width: 100%;
}

h2 {
  text-align: left;
}

h3 {
  margin-bottom: 16px;
  line-height: 1.2;

  @media (max-width: 700px) {
    font-size: 22x !important;
  }

  @media (max-width: 450px) {
    font-size: 18px !important;
  }
}

h4 {
  margin-top: 8px;
  line-height: 1.2;

  @media (max-width: 700px) {
    font-size: 18px !important;
  }

  @media (max-width: 450px) {
    font-size: 16px !important;
  }
}

section{
  @include arrangement($fd:column, $jc:space-around);
  height: 100vh;
}

