<section>
<div class="app-wrapper">
    <mat-card>
        <mat-card-header>

            <img [routerLink]="['/']" class="arrow-back" src="/img/public/arrow-back.svg" alt="back" />

        </mat-card-header>
        <mat-card-content>

            <h2>Datenschutzerklärung</h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores molestias autem perferendis odio distinctio a veniam facilis laudantium dolorem praesentium? Ducimus tempore ad rem, quae maiores nisi at magnam delectus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsam ullam obcaecati debitis doloribus, unde dolores at minus sequi optio odit, recusandae magnam dignissimos ea ad perspiciatis omnis quidem nesciunt.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nemo autem mollitia architecto! Atque labore voluptatem optio. Quasi, quibusdam? Aspernatur sit, quidem ipsam officiis corrupti nobis modi molestiae esse excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nobis optio non eaque cum dolore minima
            repellendus consequatur, impedit nesciunt laborum distinctio rem unde nisi temporibus earum expedita numquam
            beatae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, amet! Autem rem ut sit labore, pariatur consectetur maiores suscipit reprehenderit, illo eligendi doloremque quibusdam? Repellat facilis libero necessitatibus obcaecati ipsa.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, amet! Autem rem ut sit labore, pariatur consectetur maiores suscipit reprehenderit, illo eligendi doloremque quibusdam? Repellat facilis libero necessitatibus obcaecati ipsa.
            <!-- <mat-card-footer> -->
            <h3>Contact:</h3>
            <p>Email: <a href="mailto:contact@dabubble.com">contact&#64;dabubble385.com</a></p>
            <!-- </mat-card-footer> -->

        </mat-card-content>

    </mat-card>

</div>
</section>